[2022-01-11 18:24] stefan-cotitosu commented on #2935
+1 https://secure.helpscout.net/conversation/1686865028/298255?folderId=212385

[2022-01-12 10:13] abaicus opened #3321 "Implement custom hook for controls using `neve-changed-customizer-value` event listener"
### Description:
We have quite a lot of controls that add an event listener for `neve-changed-customizer-value`.

We can move this functionality in a custom hook.

Examples:
---

https://github.com/codeinwp/neve/blob/c3fac82d3aeee9795f9ea255e0fd790bcefd3af4/assets/apps/customizer-controls/src/color/ColorComponent.js#L15-L21

https://github.com/codeinwp/neve/blob/7151bc5eaf5abb2561d9d9e7bf950b53fd6

[2022-01-12 13:12] abaicus opened #3323 "Look into changing the focal-point picker inside the customizer background control"
Based on [this comment](https://github.com/Codeinwp/neve/pull/3316#issuecomment-1010986361).

### Description:

[2022-01-12 13:28] abaicus commented on #3309
@arinaturcu This will indeed be a problem because that control is not actually React-based, so let's tackle this. We seem to be using `Neve\Customizer\Controls\Range` for some things in pro. We can simply replace it with `Neve\Customizer\Controls\React\Range`.

It seems we only have a few instances where this should be done in the Pro version:
![image](https://user-images.githubusercontent.com/150

[2022-01-12 14:57] cristian-ungureanu commented on #3220
@lmisch this is indeed something that comes from Gutenberg. In the default style, the text has `color: inherit`  https://vertis.d.pr/5eC7oT and the parent has `color: #fff` https://vertis.d.pr/JWXDZq. We're not adding any style to it.

We will not add a specific style for this block as we would do more harm than good. Thank you for reporting this.

[2022-01-12 14:57] #3220 closed

[2022-01-12 16:06] cristian-ungureanu opened #3325 "Copyright component"
### Description:
It seems that the copyright component strips whitespaces from its content when adding HTML. For example if you try to add this
[code]

the component will be rendered like this:
https://vertis.d.pr/hnIwVe

### How to reproduce:
1. Add the copyright component in the footer
2. Add the text presented above
3. Check the frontend

### Expected behaviour:
There should be spaces after the

[2022-01-12 17:33] stefan-cotitosu opened #3326 "List margins differ based on the wrapper block"
### Description:

This is more a question rather than an issue. A customer reported that lists don't have a bottom margin in Neve, and it seems true based on the block where the list is placed.

If a list is placed directly in the page content, it has `margin: 30px 0;`.  For lists placed in blocks such as Section(from Otter) there is no margin.

Here is an example:

<img width="2157" alt="Markup 2

[2022-01-17 08:41] #3271 closed

[2022-01-17 12:39] Skystream96 opened #3328 "Child Theme does not load CSS in Neve 3.1.3"
### Description:
If you have used our ready-made Child Theme for Neve (you can download it [here](https://docs.themeisle.com/article/985-how-to-create-a-child-theme-for-neve)) and you updated to Neve 3.1.3 you will observe that the styles from the child theme will be ignored.

Maybe this has to do with how the style sheet is loaded in the latest version?

### How to reproduce:

1. Install Neve and

[2022-01-17 13:58] abaicus commented on #3328
@Skystream96 On the test instance you provided everything loads as expected and the styles load just fine.

![image](https://user-images.githubusercontent.com/15010186/149780622-ec616169-84b4-42b6-93f3-e80868a405ac.png)

In the user's case, there seems to be something wrong with the file loaded from the server as it seems [to be empty](https://growthlab.be/wp-content/themes/neve-child-master/style

[2022-01-17 18:45] MarinescuLucia opened #3331 "Dropdown layout of a variable product is shifted"
### Description:

If there are dropdowns added to a variable product page, the last dropdown will have a shift to the right in the layout.

### How to reproduce:

1. Create a variable product
2. Add dropdowns for the variable attributes
3. Check the last dropdown and observe the layout shift

### Expected behaviour:
The last dropdown should be aligned with the rest of them.

### Current behaviour:

[2022-01-18 08:11] Skystream96 commented on #3328
Hello @abaicus ,

The stiles do load on the backend properly, however, the instruction written in the child theme is not taken into consideration. I wrote a display: none; instruction for the site header which should hide the entire navbar along with the image inserted in the header when using the child theme, however, that does not happen (i also wrote the same instruction for the body in the scr

[2022-01-18 08:15] abaicus commented on #3328
@Skystream96 The styles you added work just fine on my end. Did you check in an incognito window? This is probably just browser cache.

![image](https://user-images.githubusercontent.com/15010186/149897408-ff0f7f28-f0c8-4441-9191-8fa83a5b4dc2.png)

[2022-01-18 08:59] cristian-ungureanu commented on #3328
@Skystream96 works for me too https://vertis.d.pr/TEZDfE

[2022-01-18 09:13] Skystream96 commented on #3328
Yep @cristian-ungureanu @abaicus you're both right. Just cleared everything and it worked like a charm. Somehow I thought that the admin view is not being cached so I was expecting the changes to take effect as soon as I update the file of the child theme.

Thank you for the enlightenment! I'll get back to the user and you can feel free to close this one out!

[2022-01-18 09:14] #3328 closed

[2022-01-18 09:16] cristian-ungureanu commented on #3328
@Skystream96 In the user's case, the style that's loading is this one "https://growthlab.be/wp-content/themes/neve-child-master/style.css". As you can see, the style is empty for some reason. Maybe there's a plugin that comes in conflict with this. You should check it.

[2022-01-18 09:18] Skystream96 commented on #3328
Yes I was just about to do that again @cristian-ungureanu before replying. Thanks for the heads up ;)

[2022-01-18 15:45] lmisch commented on #3225
Any updates on this? _em_ still runinig the typography. From @cristian-ungureanu two suggested options I'd prefer #2.

[2022-01-18 15:58] cristian-ungureanu commented on #3225
No updates here yet, It will be implemented but there are more things to take into consideration. Any updates we'll have will be posted here. Thanks!

[2022-01-18 17:23] poonam279 commented on #3331
+1 https://secure.helpscout.net/conversation/1760688547/306639?folderId=212390

[2022-01-19 09:18] MarinescuLucia opened #3333 "Screen reader focus doesn't shift to the off-canvas menu when it is opened"
### Description:

If there is a menu icon in the header that opens an off-canvas menu, the screen reader won't read the menu items or the "close" button from the menu after it is opened. Instead, the screen reader continues to read the content from the page as if the menu isn't opened at all, it won't shift the focus to the menu.

### How to reproduce:

1. Add a menu icon to the header
2. Install

[2022-01-19 11:11] cristian-ungureanu opened #3334 "Header Html lose code on text editor"
A client reported this on Nolt:

Hello,

great theme!
Adding an html block on the header if you insert directly html code in the editor code tab and then switch on view mode and the switch back on code mode.
The code wrote disappear, if you before switch save it you will see it in the page but you are unable to update it.

Keep the good work!

If you see the screenshot you can see that the textare

[2022-01-20 07:52] #3153 closed

[2022-01-20 07:52] #3300 closed

[2022-01-20 07:52] #3317 closed

[2022-01-20 08:52] #3222 closed

[2022-01-20 08:52] #3309 closed

[2022-01-20 08:52] #3250 closed

[2022-01-20 08:52] #3311 closed

[2022-01-20 12:37] UVLabs opened #3338 "Attribute select fields out of line when using multiple attributes"
### Description:

Attribute select fields out of line

### How to reproduce:

1. Create a product
2. Add multiple attributes to the product making sure to select the "use for variations" option
3. Generate variations from all the attributes and view the product on the front end

### Expected behaviour:

The attribute select fields should be vertically in line

### Current behaviour:

The attribute

[2022-01-20 12:40] UVLabs commented on #3338
Duplicate https://github.com/Codeinwp/neve/issues/3331

[2022-01-20 12:40] #3338 closed

[2022-01-20 14:50] stefan-cotitosu commented on #2927
+1 https://secure.helpscout.net/conversation/1762651468/306869?folderId=212385

[2022-01-21 03:24] poonam279 commented on #3331
+1 https://secure.helpscout.net/conversation/1763609139/306976/

[2022-01-21 11:21] #3299 closed

[2022-01-25 08:32] Skystream96 commented on #3331
+1 https://secure.helpscout.net/conversation/1766627482/307347/

[2022-01-26 08:52] vytisbulkevicius commented on #3166
+1 https://secure.helpscout.net/conversation/1767580303/307436/

[2022-01-26 11:06] cristian-ungureanu opened #3344 "Typeface control on storybook"
Fatal error on storybook for typeface control

[2022-01-27 10:17] irinelenache opened #3348 "Dark palette remains active in customizer after removing the palette switcher (edge case)"
### Description:

After adding the palette switcher to the header and switching the palette in frontend (logged in as admin), the customizer has a weird behaviour when i delete the switcher. I created a video to outline the issue https://vertis.d.pr/22KON3
### How to reproduce:

1. Add the palette switcher to the header
2. Go to frontend logged in as admin and click the switcher
3. Refresh the cus

[2022-01-27 12:38] preda-bogdan commented on #3348
Looks like it's not clearing the local storage value in customizer on remove. It should be a simple fix. I will look into it.

[2022-01-27 20:04] stefan-cotitosu opened #3350 "Add compatibility with SVG Support"
### Description:

I was trying to upload an SVG for the logo. As WordPress doesn't accept this format by default, I've installed the [SVG Support](https://wordpress.org/plugins/svg-support/) plugin. This way, it's possible to upload an SVG to the Media Library, however, it's not possible to set it as the logo.

Once I upload the image and I'm trying to set is as the logo, the cropping mode appears

[2022-01-28 10:58] abaicus commented on #3308
@cristian-ungureanu @preda-bogdan we should prioritize this as 5.9 has been released and it affects our UI.

[2022-01-28 14:20] cristian-ungureanu commented on #3308
@preda-bogdan already fixed it. As soon as his internet is back, he'll push his commits 🚀

[2022-01-28 16:48] cristian-ungureanu commented on #3280
@mskapusuz now that wp 5.9 is released and compatible with PHP 8.1, I think we should prioritize this task and fix the warnings.

[2022-01-28 16:49] cristian-ungureanu commented on #3281
I think we can close this issue as it's not related to our products

[2022-01-28 16:49] #3281 closed

[2022-01-29 19:10] everlastingtubatree opened #3352 "Only caret is clickable"
It seems the only way to expand the menu is to click on the caret. For example see this:

![image](https://user-images.githubusercontent.com/66024642/151674233-b01ddd2b-8864-4252-903c-fb5fbcad4921.png)

I think this is a major accessibility issue. It should be possible to click on the text "Menu Parent" to expand it

[2022-01-30 04:04] igibek opened #3353 "Workflows are referencing vulnerable actions"
Hello, there!

As part of the university research we are currently doing regarding the security of Github Actions, we noticed that one or many of the workflows that are part of this repository are referencing vulnerable versions of the third-party actions. As part of a disclosure process, we decided to open issues to notify GitHub Community.

*Please note that there are could be some false positiv

[2022-01-30 11:20] mskapusuz commented on #3282
update:

**on my fresh local env (php 8.1, WP5.9, WC 6.1.1):**
I could install **Web Agency** and **Shop** starter sites, works well.

also I see lots of warning on debug.log, I'll handle them.

-------

**on fresh tastewp (php 8.1, WP5.9):**
I could install **Web agency** but I couldn't install the **Shop** starter site, I've got an error like https://vertis.d.pr/FXJ7Gb - That can be related with

[2022-01-31 12:29] Skystream96 opened #3355 "Console.log instruction found in Header (setCurrentTheme function)"
### Description:
A user reported a console.log instruction in our header component which seems indeed to be out of place there as it doesn't seem to be adding any value to the output of the function or playing any part in it.

### How to reproduce:

1. Install the Neve theme
2. Acess the inspector tools and search for console.log
3. Find the instruction in the SetCurrentTheme function in the heade

[2022-02-01 13:17] stefan-cotitosu opened #3356 "The Comments section should have an H2 title"
### Description:

A customer suggested using H2 for the title of the comments section instead of H4 as if there is no heading in the post content the screen reader will skip from H1 to subheadings and this title(Leave a reply) represents its own section.

Reference: https://secure.helpscout.net/conversation/1770683595/307876?folderId=212385

### Alternatives:

[2022-02-02 09:46] stefan-cotitosu opened #3358 "Color active menu items based on section ID"
### Description:

A customer would like the possibility of having colored menu items based on the current section within the page. Similar to Hestia, if you link the menu items to the front page sections, when the page is scrolled to a section with the corresponding menu item, the menu item has the Accent Color. See the Features section on [this page](https://demo.themeisle.com/hestia-pro/).

Mayb

[2022-02-02 10:40] abaicus commented on #3355
Closed here: https://github.com/Codeinwp/neve/commit/4a11f361dbd7a5c05e794404e0a5d3e14784fa47

[2022-02-02 10:40] #3355 closed

[2022-02-02 12:41] mskapusuz commented on #3282
@cristian-ungureanu I think we can close this issue after the @irinelenache's testing that to make sure **Web Agency** and ** Shop** starter sites can installed successfully.

@irinelenache could you test it when you have some time? Thanks!

[2022-02-02 12:49] mskapusuz commented on #3243
### Last Update after the 5.9 Release
I've fixed the https://github.com/Codeinwp/neve/issues/3280 issue, then I've looked overall, my findings in the following:

- Customizer:
    - Just errors comes from themeisle-sdk (on Users/mskapusuz/Projects/neve/wp-content/themes/neve/vendor/codeinwp/themeisle-sdk/load.php) **That’s already fixed by Cristi on https://github.com/Codeinwp/themeisle-sdk/issues

[2022-02-02 15:59] stefan-cotitosu commented on #3350
+1 https://secure.helpscout.net/conversation/1775163975/308375/

It seems to be an issue with the theme, as the skip crop button is not available anymore, no matter the format of the image.

[2022-02-02 16:07] cristian-ungureanu commented on #3352
Thank you @everlastingtubatree for reporting this! Usually, on the parent, there is a link and when you click on it the redirect happens so there's no need to open the submenu.
I see your point though, in case the parent has the '#' or the same page set as a link, we should just open the submenu.

I saw this behavior in Twenty Twenty-One, they open the submenu on click, doesn't matter if the redir

[2022-02-02 16:39] cristian-ungureanu commented on #3356
@abaicus what do you think?

[2022-02-02 16:44] abaicus commented on #3356
I think we should probably check out what core themes and other accessibility-ready big themes are doing

[2022-02-02 16:49] abaicus commented on #3356
I took at look at a few themes, and here are the findings:

- Twenty Nineteen -> H2
- Twenty Twenty -> H2
- Twenty Twenty-One -> H2
- Twenty Twenty-Two -> H3 ​

I think we can safely change this to a H2 tag. 👍🏻

[2022-02-03 00:53] igibek commented on #3353
Hello, there!

It turns out to be a false positive. The aforementioned version **v1** actually contains the commit which was cherry-picked to include it, here: [11e062bf](https://github.com/shivammathur/setup-php/commit/11e062bf2387bc8ccfb1532f3c6e9dd2eb26eded). Unfortunately, this commit was missed by our tool.

Sorry for the incorrect reporting.

I am closing this issue because it is safe to use

[2022-02-03 00:53] #3353 closed

[2022-02-03 06:57] abaicus commented on #934
Went through this discussion again and it seems that everything discussed was covered 🚀

[2022-02-03 06:57] #934 closed

[2022-02-03 07:29] abaicus commented on #3353
Thanks for updating this, @igibek!

Have a great day!

[2022-02-03 08:10] irinelenache commented on #3282
@mskapusuz Tested and it works fine on Local environment 👍
I can confirm that i'm getting the same error you mentioned when i import the **Shop** starter site on **tastewp**

[2022-02-03 09:12] abaicus commented on #3326
@stefan-cotitosu I don't think there's a particular reason for this.

I think this might have carried over from the old skin and from what I can see in the git blame, it was added around the time the theme was created (committed on Sep 24, 2018).

Bear in mind that Gutenberg wasn't in core yet (it was added in December when 5.0 was released). I think we can probably change this to content-wide lis

[2022-02-03 09:27] selul commented on #3326
I would go for it since the old one was not looking as good as the new one(default).

[2022-02-03 11:18] cristian-ungureanu commented on #3282
@mskapusuz maybe we can open an issue on the WooCommerce repo with the errors that we found?

[2022-02-03 11:20] cristian-ungureanu commented on #3282
Oh, sorry, I see it's regarding the putenv function. Closing the issue.

[2022-02-03 11:20] #3282 closed

[2022-02-03 20:21] vytisbulkevicius commented on #3350
+1 https://secure.helpscout.net/conversation/1774064464/308241/

[2022-02-04 06:11] Skystream96 commented on #3350
+1 https://secure.helpscout.net/conversation/1776747091/308572/

[2022-02-04 13:13] Skystream96 commented on #3350
+1 https://wordpress.org/support/topic/prevent-cropping-and-make-logo-bigger/

[2022-02-04 14:02] irinelenache commented on #3209
@UVLabs Tested and the issue is fixed, thank you 🚀 This can be moved to **Ready to merge** after all checks are passing 👍

[2022-02-04 14:17] Skystream96 commented on #3350
+1 https://wordpress.org/support/topic/header-logo-to-300px-didnt-work/#post-15329016

[2022-02-07 03:14] Skystream96 commented on #3350
+1 https://secure.helpscout.net/conversation/1778927385/308841/

[2022-02-07 06:46] abaicus opened #3364 "Elementor list styles not applying anymore on text widgets"
### Description:
The list padding and list style does not apply anymore on elementor lists inside the text widget.

It seems that the widget CSS class has changed from `.elementor-text-editor` to `.elementor-widget-text-editor.

This happened back in 3.2 as part of their ongoing [experiment with DOM Optimization](https://elementor.com/help/what-is-the-optimized-dom/).

### How to reproduce:

1. Ad

[2022-02-07 10:40] arinaturcu commented on #2900
@abaicus From what I've seen, that control @HardeepAsrani mentioned is still experimental. Should I still use it like this? :seal:

[2022-02-07 13:16] vytisbulkevicius opened #3366 "Focus on the input field doesn't work properly with Safari browser"
### Description:
if we focus on an input (let's say search component in the header of Neve theme), our stylesheet contains CSS that makes border yellow and this doesn't work on Safari browser for some reason, I can't find out why.
Screenshot on Chrome:
<img width="329" alt="image" src="https://user-images.githubusercontent.com/36594177/152793157-085a75c3-70e4-4e7e-b12e-5cbc883059a2.png">

Screensh

[2022-02-07 13:56] #3364 closed

[2022-02-07 17:46] MarinescuLucia opened #3367 "Social icons added in an HTML element don't appear on all pages"
### Description:

If social icons are added in the header or footer using the HTML element, they don't appear on all pages (for example the blog, shop or single product pages). If something else is added in the HTML component, for example some simple text, it is properly displayed on all pages. However, the social icons are not. It looks like the "::before" tag that can be seen in the screenshot b

[2022-02-08 12:06] ineagu opened #3369 "Inputs are looking bad"
### Description:
I can see here on the form added by Otter that inputs are looking bad: https://domainwheel.com/contact/. It seems to be due to the fact that there is no <form> parent.

### How to reproduce:

1.Visit : https://domainwheel.com/contact/

### Expected behaviour:

Input looks good even if outside form element

### Current behaviour:

They look unstyled.

### Reference:

### Technical

[2022-02-08 19:18] ineagu opened #3370 "Enable sidebar behaviour when content width is 100%"
### Description:

If you're trying to enable the sidebar for a individual post, when the content width has the default value of 100%, it would look like this: https://prnt.sc/26qxv0u, while the layout icon shows a different picture.

### How to reproduce:

1. Install Neve & enable sidebar on an individual post

### Expected behaviour:

I would expect to look like the mini picture, like : https://v

[2022-02-08 22:57] MarinescuLucia commented on #3350
+1 https://secure.helpscout.net/conversation/1781635250/309280

[2022-02-09 04:09] poonam279 commented on #3350
+1 https://secure.helpscout.net/conversation/1781400122/309235

[2022-02-09 09:40] #3356 closed

[2022-02-09 09:41] #3344 closed

[2022-02-09 09:42] #2912 closed

[2022-02-09 09:44] #3331 closed

[2022-02-09 09:44] #3308 closed

[2022-02-09 09:44] #3325 closed

[2022-02-09 09:44] #3255 closed

[2022-02-09 09:45] #3209 closed

[2022-02-09 09:45] #3243 closed

[2022-02-09 09:45] #3280 closed

[2022-02-09 11:26] cristian-ungureanu commented on #3370
@ineagu I don't exactly know what version is installed on CWP but in Neve when your content is larger than 95%, the sidebar doesn't show at all.

[2022-02-09 11:29] ineagu commented on #3370
Okay.

And this seems okay with you? Clicking on the sidebar icon and nothing appearing?

I consider it a bug.

Sent from my iPhone

[2022-02-09 11:40] cristian-ungureanu commented on #3370
I prefer no sidebar instead of this https://prnt.sc/26qxv0u but I agree the UX is not excellent.

An idea for fixing this is to reset the content width to the default value when the sidebar position is changed.

[2022-02-10 21:11] pedromst opened #3372 "bug in the comments"
Hello, how is everything?

I updated the theme and now it is not possible to comment on the site. I've gone back to the last version and it's the same. If I change the theme, the comments work fine.

You can't write and on mobile the site is very extended.

I didn't move or install anything new, I just updated the theme.

https://www.maismistika.com/espiritualidade/orixa-pela-data-de-nascimento/

[2022-02-10 22:36] vytisbulkevicius commented on #3372
Hi @pedromst,

I've checked your website and found out that there is a very small font-size set for the input fields of the form:
https://vertis.d.pr/1kDbEs (it's 0px so it means invisible)

You can increase the size in Customizer->Form Fields->INPUT TEXT->Font Size: https://vertis.d.pr/5pbjV8

After increasing the font size and saving the changes it should be fixed.

I'm closing the issue here as

[2022-02-10 22:36] #3372 closed

[2022-02-11 09:50] pedromst commented on #3372
Thanks, that was it...

But by default it gets zero when I try to go back to the theme's source data.

I don't know if it's a bug or not...

It got resolved. Thank you very much.

Another important issue.

What is the pulgin or what form do you advise me to create at the end of the article the related articles by category?

[2022-02-11 14:09] vytisbulkevicius commented on #3372
@pedromst,

When you set that default value it doesn't set the font size to 0 but instead uses the global value because nothing is set explicitly for the Form fields. Probably you have body font size set to 0 as I've tested it on a fresh instance and it doesn't occur.

Regarding your 2nd question - Neve Pro has this feature - https://docs.themeisle.com/article/1310-neve-single-post-options#single-

[2022-02-12 13:03] mghenciu commented on #3164
There looks to be an issue with Elementor & Recipes Card block, that we are using on the Recipes Blog demo.
If their answer is to update Elementor, then we'll need to speed up the things with this issue.
https://wordpress.org/support/topic/elementor-3-1-4-support/#post-15358322

[2022-02-12 13:14] ineagu opened #3373 "Recommend wp landing kit in neve"
### Description:
We can add WP Landing Kit in the recommended plugins list, make it clear that is paid.
### Alternatives:

[2022-02-14 04:53] poonam279 commented on #3350
+1 https://secure.helpscout.net/conversation/1786685187/309941/

[2022-02-14 08:46] Skystream96 commented on #2927
+1 https://secure.helpscout.net/conversation/1786698880/309943?folderId=212385

This user was mentioning changing the Logo as well as the subheader. Maybe we can find a way of linking the Conditional Headers to the Flags so they changed based on that?

[2022-02-14 11:27] cristian-ungureanu commented on #2439
This is the most voted request on Nolt, I think we should implement it.

[2022-02-14 11:50] cristian-ungureanu opened #3375 "[Nolt request] H1 heading on shop pages"
### Description:
An H1 heading is required on all pages for SEO. Currently, the shop page and category pages don’t include a heading.

### Alternatives:
Do nothing

While this can be achieved easily in PRO with Custom Layouts, it might become a problem in lite.
An idea that will not include too much time for this would be to provide a solution in one of our docs that could be added in a child them

[2022-02-14 11:51] selul commented on #3375
@cristian-ungureanu this can be also achieved when #3371 by using an HTML component

[2022-02-14 11:53] cristian-ungureanu commented on #3375
You're right. Closing this in favor of https://github.com/Codeinwp/neve/pull/3371

[2022-02-14 11:53] #3375 closed

[2022-02-14 12:21] abaicus commented on #2439
@cristian-ungureanu media queries don't support custom properties. This is a thing that I wasn't aware of when I posted this.

A workaround would be to rewrite the CSS on the user's website each time these change, but I doubt it's worth the hassle.

https://www.w3.org/TR/css-variables-1/#using-variables

[2022-02-15 22:06] vytisbulkevicius commented on #2935
I'm reopening this as I still see the same behavior, at least during my tests, I'm still going through all the sub-menus when clicking TAB - maybe it was implemented in a different way?

Screencast clicking TAB on Neve 3.1.5: https://vertis.d.pr/fOdMVh

Thanks!

[2022-02-17 16:04] selul commented on #3373
@cristian-ungureanu I don't think is necessary for now as we won't update too soon the banner/description.

[2022-02-17 18:32] cristian-ungureanu commented on #3373
The problem is that we'll need to add the description ( and that's a new string ) and a banner either locally in the theme's file or from an external URL and I don't know if there is a better solution to avoid at least the new string 🤔

[2022-02-18 13:36] stefan-cotitosu commented on #2861
Is it possible to add filters on the following lines?

https://github.com/Codeinwp/neve/blob/90e69233ca4ec4fefe826c86f1f4a1fb1f60d42d/inc/views/partials/post_meta.php#L276

https://github.com/Codeinwp/neve/blob/90e69233ca4ec4fefe826c86f1f4a1fb1f60d42d/inc/views/partials/post_meta.php#L286

We got a request on wordpress.org about this - https://wordpress.org/support/topic/child-theme-issue-18/. The

[2022-02-18 14:09] cristian-ungureanu commented on #3367
@MarinescuLucia this is actually not a bug. We don't load FontAwesome in the theme. It's Elementor's business to load it and it probably loads it only where Elementor is used.

However there is a solution for this. Here are the steps you can suggest:

1. Install OrbitFox from wordpress.org
2. Enable the Header / Footer scripts module ( https://docs.themeisle.com/article/1277-header-footer-scripts-

[2022-02-18 14:09] #3367 closed

[2022-02-21 14:44] cristian-ungureanu commented on #3366
@vytisbulkevicius thanks a lot for the detailed video.
The issue comes from `:focus-visible` pseudo-class. It seems that Safari supports it only in the latest version https://caniuse.com/?search=focus-visible.

So what happens here is this: The SCSS is built and the result in CSS is something like:
[code]

Because older versions of Safari don't know about `:focus-visible`, it just ignores the whol

[2022-02-22 09:30] cristian-ungureanu opened #3385 "Pallete switcher toggle doesn't work if you switch to dark palette in customizer."
### Description:
The Pallete switcher toggle doesn't work if you switch to the dark palette in the customizer.

### How to reproduce:
- Add the pallet switcher component in the header
- Go to Customizer -> Colors and switch to Dark mode
- Save and exit
- Try to switch the pallet. It won't work

### Expected behavior:
Even if the main pallet is the dark one, it should still toggle between base and

[2022-02-22 10:59] cristian-ungureanu commented on #3385
Closing this as I didn't set the alternative on the component.

[2022-02-22 10:59] #3385 closed

[2022-02-23 04:39] speshiou opened #3388 "Variations form layout in single product is corrupted"
### Description:
Variations form in single product isn't compatible with latest WooCommerce.

### How to reproduce:

1. Add two or more variations to a product
2. View the product front page
3. See corrupted variations form

### Expected behaviour:
<img width="604" alt="截圖 2022-02-23 下午12 26 15" src="https://user-images.githubusercontent.com/6083887/155261688-696fed59-19ae-486b-b9d0-7f4a47858330.p

[2022-02-23 12:34] #3350 closed

[2022-02-23 12:34] #3366 closed

[2022-02-23 12:34] #3348 closed

[2022-02-23 12:36] #3334 closed

[2022-02-23 19:54] bderaguts commented on #992
With the ability to change the hamburger menu, has there been any thought to allow changing the drop down menu caret. You could reuse the options added for scroll to top (but invert them). This would be a nice addition.

[2022-02-24 08:39] cristian-ungureanu commented on #3388
@speshiou the issue was addressed in the update that we released yesterday. Please update to the latest version 3.1.6 and let me know if you still encounter this problem.
Make sure you purge the cache if you have any plugin that is caching your website.

[2022-02-25 00:55] speshiou commented on #3388
After updating to 3.1.6, the symptom still exists.
<img width="704" alt="截圖 2022-02-25 上午8 54 16" src="https://user-images.githubusercontent.com/6083887/155632857-dbfcd1ca-1f81-450b-b780-e5162103768d.png">

[2022-02-25 09:42] cristian-ungureanu commented on #3388
@speshiou, thank you for providing the screenshots. We removed the code you've mentioned ( that **display: block;** ) in v3.1.5. I'm sure it's a caching system in place.

Here's a guide that I found on the internet on how to purge the cache of your website: https://www.hostinger.com/tutorials/wordpress/how-to-clear-wordpress-cache

You need to identify what plugin you are using for caching your we

[2022-02-25 09:42] #3388 closed

[2022-02-25 10:46] speshiou commented on #3388
This issue is nothing to do with cache. I think the root cause is that neve is running with `/themes/neve/assets/css/woocommerce-legacy.min.css`, which still contains `display: block`.

<img width="466" alt="截圖 2022-02-25 下午6 15 22" src="https://user-images.githubusercontent.com/6083887/155699227-cf60c169-e849-4def-9d29-f852717f3304.png">

I traced the codebase, and found out neve use `neve_is_new

[2022-02-25 10:55] cristian-ungureanu commented on #3388
I understand now. Thank you for the details. Indeed you need to switch to the new skin as we no longer maintain the old style.

Here's documentation about the new skin https://docs.themeisle.com/article/1388-neve-3-0-core-design and how to switch to it.

If there are any troubles, we are happy to assist you. Please contact our support department at [friends@themeisle.com](mailto:friends@themeisle.

[2022-02-25 11:26] speshiou commented on #3388
Thanks for your assistance. Maybe you can add a prominent hint to ask users to migrate, or they may encounter some compatibility issues as I did.

[2022-02-25 11:31] cristian-ungureanu commented on #3388
That's a good idea!  Thank you for your suggestions and your patience!

Have a great day!

[2022-02-25 11:37] cristian-ungureanu opened #3389 "Add a notice in customizer for the legacy style"
Based on https://github.com/Codeinwp/neve/issues/3388, let's add a notice in the customizer for users still using the old style.

WooCommerce recently changed some markup, but even if we did the fix on our end, the legacy style remained the same. That generated the issue presented.

Having a notice more prominent might avoid feature problems like this,

[2022-02-26 20:00] orangiah opened #3391 "Cart price reads prices from product instead of cart item"
Hello, I am attempting to use Neve with Advanced Dynamic Pricing for WooCommerce, but adding a discount causes the item prices in the cart to be displayed incorrectly. This is apparently due to the code on the cart page being set to read item prices from the product rather than the cart item.

[2022-02-28 08:27] cristian-ungureanu commented on #3391
Hi! Thank you for reporting this. We'll have a look over it and try to find a solution.

[2022-02-28 11:51] cristian-ungureanu opened #3393 "Minicart breaks in with the latest woocommece version"
<img width="1383" alt="Screenshot 2022-02-28 at 13 45 33" src="https://user-images.githubusercontent.com/9929553/155978812-4c5df955-476f-4654-ada9-6a706a9e61b5.png">

[2022-02-28 11:56] cristian-ungureanu commented on #3393
False alarm, I don't know what happened.

[2022-02-28 11:56] #3393 closed

[2022-03-01 16:00] spencer-j opened #3394 "CSS property naming camel case missmatch when using neve new style"
### Description:
CSS property naming missmatch when using neve new style.

### How to reproduce:
1. Use new Neve Style in customizer
2. SET Footer row background for e.G Dark Background.
3. Check frontend.
You see Footer Background color is white.

### Expected behaviour:
Footer background color should be dark.

due to typo and missmatch in property names.
--bgcolor in head document styles in for

[2022-03-01 16:32] spencer-j opened #3395 "Formfield padding in frontend"
### Description:
Formfield padding for e.G. input settings customizer dont show up in frontend if values set in em and minor 1

### How to reproduce:
1. Set padding fields in em for e.G to 0.6 or if you set it with the arrows 0,6
2. in customizer you see the correct padding.
3. Save customizer setting
4. reload and check form input fields in frontend.

### Expected behaviour:
Padding Settings shou

[2022-03-02 15:54] cristian-ungureanu commented on #3395
Thank you @spencer-j. We are not maintaining the classic style anymore. There should be no issue with the new skin.

I want to ask you if there is a particular reason why you choose to have the previous style? Is there something that you appreciate more in the classic style?

I am closing this issue but feel free to further post here, I really want to know your opinion.

[2022-03-02 16:16] cristian-ungureanu commented on #3394
Thank you for reporting this. Unfortunately, I can't replicate this issue. I tried to create a new instance on tastewp.com and everything works as expected. Maybe there's a plugin that interferes with it.

@irinelenache can you give it a try too? Maybe I missed something.

[2022-03-02 16:33] cristian-ungureanu commented on #3391
@orangiah I tried to replicate this issue, created a new rule for all products to have a 1$ discount.

This is how the cart looks like: https://vertis.d.pr/OCQrrT

Can you give me more information about how to reproduce the bug? Maybe a video or a tastewp.com instance where I can see what's wrong.

Thank you!

[2022-03-02 20:41] UVLabs opened #3398 "Refactor single product cart area"
Right now the single product cart area is set to `flex`:

![image](https://user-images.githubusercontent.com/10324144/156444452-26aaef5d-ce7e-480b-b611-7ea7320ed128.png)

This can cause positioning issues for 3rd party plugins that hook into the area, example (WooCommerce Product Add-ons plugin): https://vertis.d.pr/m7a8Ky

Most other themes have this area set to the default `block` display

We sh

[2022-03-03 09:04] cristian-ungureanu commented on #3164
Sorry, @mghenciu for the delay.
I will have a look today and let you know.

[2022-03-03 09:06] spencer-j commented on #3395
@cristian-ungureanu
in my case this issue also exists in style Neve 3 as none of the css properties for form fields assign never get set.

[code]
please test yourself.
In Classic the values set in customizer are taken in frontend. Please also check setting of padding values minor 1 in em

Greets
spencer

[2022-03-03 09:22] spencer-j opened #3399 "Formfields settings and css properties in neve 3.0"
@cristian-ungureanu
in my case this issue also exists in style Neve 3 as none of the css properties for form fields assign never get set.
It is not just padding, also border width etc.
check in frontend

[code]
none of the css properties e.G. --formFieldPadding is set.
In Classic the values set in customizer are taken in frontend.
Please also check setting of padding values minor 1 in em

Greets
s

[2022-03-03 10:30] cristian-ungureanu commented on #3164
@mghenciu the reported errors are due to an older version of OrbitFox. I updated OrbitFox on staging and everything seems fine.

Please have another look at the demos you've reported to check if everything still works after updating OrbitFox. If everything works, just remember to update not only Elementor but also OrbitFox on the main site.

[2022-03-03 12:08] mghenciu commented on #3164
Thanks a lot for taking a look, @cristian-ungureanu .
I've updated Elementor now in prod, and everything looks to be working as expected.

[2022-03-03 12:08] #3164 closed

[2022-03-08 08:40] cristian-ungureanu commented on #3399
@spencer-j I'm trying to understand the issue as personally, I could not replicate it. I will need more details to identify it.
- Can you provide a screen share or some screenshots?
- What inputs are you trying to change? Are they coming from a 3rd party plugin?
- Are you using a builder like Elementor / Beaver builder?
- Can you provide an instance or recreate your issue on tastewp.com and share

[2022-03-08 09:04] cristian-ungureanu commented on #3394
Closing this issue as there was no way to replicate it.
Feel free to add more information like plugins you are using, videos showing the issue, testing instances. Are there any child themes? Is there any additional CSS code added in the Advanced CSS section?

We'll have a further look when more info is provided.

[2022-03-08 09:04] #3394 closed

[2022-03-08 09:07] cristian-ungureanu commented on #3391
Closing this issue as there was no way to replicate it. Please feel free to further comment in this thread if you have more information and we'll investigate.

[2022-03-08 09:07] #3391 closed

[2022-03-08 11:18] RuiDaCruz opened #3400 "Layout"
Hello

On the layout of a page I publish an image
On the layout on the option Style we can choose “Fixed” “Scroll” “Local”
If we choose “Fixed” this option does not work on the phone
we can see it working when we are programing on the website on Wordpress but when we publish the site this option does not work on a phone.
I tried on Safari on Chrome and does not work
On desktop no problem on the ph

[2022-03-08 11:38] cristian-ungureanu commented on #3400
Hello, thank you for writing in here. Can you provide a screenshot to see the exact option you're talking about? I don't see any “Fixed” “Scroll” “Local” anywhere so it must be something that is added by another plugin.

[2022-03-08 14:39] RuiDaCruz commented on #3400
OK
<img width="1646" alt="Screenshot 2022-03-08 at 14 36 05" src="https://user-images.githubusercontent.com/101183805/157259897-c333f6a0-e767-4ffb-9f33-4d58e33a3f7a.png">

[2022-03-08 14:56] cristian-ungureanu commented on #3400
I understand now! Thank you for reporting this. I'll check and post here if I have any updates.

[2022-03-09 12:20] RuiDaCruz commented on #3400
ok thank you very much for your help.

[2022-03-09 16:54] cristian-ungureanu opened #3401 "Customizer error on development branch"
### Description:
If you take the current development branch of Neve and the current master branch of Neve PRO, if you try to access customizer you'll get this error:

<img width="1680" alt="Screenshot 2022-03-09 at 18 52 13" src="https://user-images.githubusercontent.com/9929553/157490461-40e9c9a3-0937-4585-815d-bdd4efcbf44d.png">

The issue seems to come from [assets/apps/customizer-controls/src/

[2022-03-10 10:48] preda-bogdan commented on #3401
@cristian-ungureanu Thank you for finding this, I made a PR that should solve this.

[2022-03-14 16:18] stefan-cotitosu opened #3404 "Add padding to delimit submenus on mobile devices"
### Description:

The Primary Menu component within the header builder allows submenus. Those aren't obviously grouped on mobile devices.

**Current behavior**

![Markup on 2022-03-14 at 18:16:24](https://user-images.githubusercontent.com/26867648/158215207-0c81d3d6-4dad-4921-bd44-2767fadeacfc.png)

**Expected behavior**

![Markup on 2022-03-14 at 18:15:57](https://user-images.githubusercontent.co

[2022-03-14 16:28] stefan-cotitosu opened #3405 "The background color of the mobile sidebar doesn't change with the Palette"
### Description:

The Header Palette Switch changes both the background and the text color of the navbar and menu items on Desktop and Mobile. The Mobile Menu Sidebar keeps the same background color while the text color changes with the Palette.

Maybe we can make the background of the mobile sidebar to change as well.

### How to reproduce:

https://vertis.d.pr/kyj3kq

### Reference:

https://sec

[2022-03-16 12:24] Skystream96 opened #3406 "PHP Warning: Array to string conversion in /wordpress/wp-includes/formatting.php on line 1098 (PHP version 8.1)"
### Description:
This PHP warning appears once you open the customizer and change something with the Default Neve theme. In my case, I changed the colors of the buttons and the font, however, nothing was logged when changing layout, thus I'm thinking there are only a few methods that use this particular line.

It seems to be related to this function in the formatting.pgp file:
`function wp_check_i

[2022-03-18 10:31] MarinescuLucia opened #3407 "Excessive DOM size warning pointing to the search icon"
### Description:

Lighthouse throws an "Avoid an excessive DOM size" warning pointing to the search button that appears on the right side of the search form, regardless of the Open Behaviour chosen in the Customizer. If the search icon is removed from the header, the warning persists, but it points to other elements, for example the arrow of a menu item that has a submenu.

### How to reproduce:

[2022-03-18 15:19] UVLabs commented on #2985
@irinelenache I can't replicate this anymore? Can you confirm if the issue is still happening?

[2022-03-21 07:32] abaicus opened #3408 "No antialiasing on text"
### Description:
It seems we don't have antialiasing on the text, therefore it looks a bit jagged.

This is a standard technique for font-smoothing. We should add the following properties to the body/html tag:

[code]

It's most visible on safari & chrome:

Without antialiasing
---
![image](https://user-images.githubusercontent.com/15010186/159219694-aea7a6a6-d24d-4f65-8e02-ca45b083e7e1.png)

With

[2022-03-21 14:49] #2985 closed

[2022-03-23 15:04] #3370 closed

[2022-03-23 15:05] #3401 closed

[2022-03-23 15:22] #992 closed

[2022-03-24 12:00] preda-bogdan commented on #3407
This is **NOT** an issue caused by Neve.

It's an issue on the client's website: https://nomadicsupply.com/
The actual error is because of the excessive DOM elements on the body. It has nothing to do with the **cart Icon** or the **search**.

![image](https://user-images.githubusercontent.com/23024731/159910544-a881a329-b37e-4512-a34c-9d06235ba877.png)
As per the [specs](https://web.dev/dom-size/?

[2022-03-24 12:03] selul commented on #3407
@preda-bogdan I do have some q, why if we remove the component the warning is gone, while you say that is not related to neve?

[2022-03-24 12:39] selul commented on #3407
@preda-bogdan so based on your feedback the dom size is not high on a default state and is proportional with the content that user is using.

I agree on this, seems like on the default starter site the error is not present https://pagespeed.web.dev/report?url=https%3A%2F%2Fwp-themes.com%2Fneve%2F Can you confirm too?

[2022-03-24 12:54] preda-bogdan commented on #3407
@selul Yes, this is exactly what I was mentioning. You can also see on your report on the pass audits, that the search icon is still there because it has the highest Maximum DOM depth.
![image](https://user-images.githubusercontent.com/23024731/159918900-3e122476-d4c8-4401-81c4-7c2044359943.png)

It is a pure coincidence that the search icon is reported there, it could be there any element that ha

[2022-03-24 15:03] preda-bogdan commented on #3405
@stefan-cotitosu if the color being used is from the Global Color palette:
![image](https://user-images.githubusercontent.com/23024731/159944497-d73617a9-bea6-475e-aefe-857fdcec0eb1.png)

The color will change as long as it is different in the provided alternative palette.

I tested using the Extra Color 1 for the sidebar wherein the Base palette was set to green and the Dark palette was set to pu

[2022-03-24 15:06] cristian-ungureanu commented on #3225
Based on what we've discussed here https://github.com/Codeinwp/neve/pull/3410, I will remove the bug label for this one and add the enhancement one as there is no problem with the current approach but we need to let users decide if they want to add em or not. Just removing the unit will affect all of the sites and that were designed in that way.

[2022-03-24 16:10] MarinescuLucia commented on #3407
I tested this before on a clean instance with the Original starter site and I was getting the same warning, but it seems that some Chrome extensions affect the data generated in the Lighthouse report. I checked again on an Incognito window and on PageSpeed and indeed the warning doesn't appear. Thanks for your insight!

[2022-03-24 16:44] stefan-cotitosu commented on #3405
@preda-bogdan you are right about it, it works the same for me 👍

Thank you for checking it.

[2022-03-24 16:44] #3405 closed

[2022-03-25 07:41] preda-bogdan commented on #3406
Here the issue was with the React controls that would use the default render for controls, this was triggering a warning when parsing the value via `esc_attr()`. The content would be later replaced by JS but, the warning was already triggered.

I created two PRs that should solve the issue.

[2022-03-25 08:13] preda-bogdan commented on #3161
Here the container is missing the `flex-wrap` attribute that should allow buttons to go on a new line if required.
Until the changes reach production, the same can be achieved by adding the following CSS:

[code]

Thank you!

[2022-03-28 08:11] cristian-ungureanu commented on #3407
Thank you all for investigating. Closing this issue!

[2022-03-28 08:11] #3407 closed

[2022-03-28 10:03] spencer-j commented on #3399
@cristian-ungureanu Sorry for the late responce.
Trying to change text inputs of ghostkit plugin form. The ghostkit form doesn't provide css. So there is no higher selector of any other plugin.
As mentioned before the problem exist especialy with values "padding values minor 1 in em".

see [https://humorousdeer.s3-tastewp.com](https://humorousdeer.s3-tastewp.com)
regards spencer

[2022-03-28 12:59] cristian-ungureanu commented on #3400
Hey, @RuiDaCruz after doing some digging I can provide an answer. This is something coming from your browser, not from us. On some devices it will work, on others, it will not. Fixed backgrounds have *huge* repaint cost and decimate scrolling performance, which is, I believe, why it was disabled by the developers of your browser.

Closing this issue as there isn't anything to do on our end.

[2022-03-28 12:59] #3400 closed

[2022-03-29 07:57] cristian-ungureanu commented on #3399
Thank you for the additional details. I managed to replicate and fix the issue.

[2022-03-31 08:46] abaicus opened #3419 "Dashboard breaking when plugins response fails for TPC"
### Description:
The dashboard breaks if there is not a valid response coming from the WP Plugins API for TPC specifically;

### How to reproduce:

1. Go to `inc/admin/dashboard/main.php`
2. Comment line 48 (`'templates-patterns-collection',`)
3. Reload the Neve options page -> it's broken

### Expected behaviour:
Shouldn't break;

### Current behaviour:
Breaks;

### Technical info
* WordPress ver

[2022-03-31 14:35] UVLabs commented on #2867
This issue is caused by Elements Kit removing the header container which has the class `neve-main` this class is used to set the page width so with it gone, the CSS doesn't apply.

Instead of changing the class selectors throughout the plugin; I have contacted Elements Kit about this since I see they have support for some other big themes and they confirmed that they will add support for it:

<img

[2022-04-01 17:23] madmenvacationrentals opened #3421 "plugin "Navmenu Addon for Elementor" is producing "Fetal Error" on my website ...Needs to be updated ..."
Hi the plugin "Navmenu Addon for Elementor" is producing "Fetal Error" on my website because it is not updated for a new version of Elementor: version 3.6.1 ...You are not the only plugin that needed to update. Can you please get this updated so I can get rid of that error on my website?

[2022-04-01 21:24] vytisbulkevicius commented on #3421
Hi @madmenvacationrentals,

The mentioned plugin is already retired a few years ago and won't get updated again. We do not recommend using the plugin anymore as it can definitely break your website.

Please use this repository to post issues related to the Neve theme. Thank you!

[2022-04-01 21:24] #3421 closed

[2022-04-01 23:04] madmenvacationrentals commented on #3421
Thank you for getting back to me but the issue is I don’t know what plug-in I should use then because this is necessary for my website to work. Do you have another one that replaces it? Another one that you recommend?

Best Regards, Rebecca
Sent from my iPhone

[2022-04-04 06:34] cristian-ungureanu commented on #2867
Thank you @UVLabs, that's great news! Moving this issue to the backlog column. Please have a look and see if everything is fixed after they add support for Neve 🚀

[2022-04-04 12:52] cristian-ungureanu commented on #2177
@mghenciu is this still happening for you? I checked and from what I've seen, there are no issues. Might be due to an upgrade for Chrome.

[2022-04-04 13:25] madmenvacationrentals commented on #3421
[vytisbulkevicius](https://github.com/vytisbulkevicius)
@vytisbulkevicius [vytisbulkevicius](https://github.com/vytisbulkevicius)

Thank you for getting back to me but the issue is I don’t know what plug-in I should use then because this is necessary for my website to work. Do you have another one that replaces it? Another one that you recommend?

Best Regards, Rebecca

[2022-04-04 13:58] mghenciu commented on #2177
I'll take another look tomorrow on the Laptop, Cristi.
Now, on my PC + External Monitor - I don't see the difference:
![image](https://user-images.githubusercontent.com/52494172/161560049-ea9e25e3-5ade-4ef7-abb1-0f511c37674d.png)

[2022-04-05 05:51] mghenciu commented on #2177
I checked now on the same device, and here are the results:
- on the 4k External Monitor, the blur/any differences are **not** visible
- while on the MacBook Pro built-in display, there is a difference between how it looks in Chrome vs Safari & Firefox

Here's how it looks on the Retina screen (blur in the first logo):
<img width="486" alt="Screenshot 2022-04-05 at 08 35 11" src="https://user-imag

[2022-04-05 07:47] cristian-ungureanu commented on #2177
@abaicus do you have any thoughts on this? Should we add `image-rendering: -webkit-optimize-contrast;` ?

[2022-04-05 09:55] abaicus commented on #2177
@cristian-ungureanu @mghenciu Can we check how other themes handle this issue?

[2022-04-05 09:55] abaicus commented on #2177
PS: I think it would be a good idea to add it regardless.

[2022-04-05 12:35] #3408 closed

[2022-04-05 12:35] #3161 closed

[2022-04-05 12:35] #3406 closed

[2022-04-05 12:36] #3225 closed

[2022-04-05 12:36] #3399 closed

[2022-04-05 14:30] cristian-ungureanu commented on #2177
Thank you! I will check how others handle this and get back here.

[2022-04-05 19:42] cristian-ungureanu opened #3422 "Neve 3.2.1 fatal error on php 8.0.17"
### Description:
Got error 'PHP message: PHP Fatal error: Uncaught TypeError: abs(): Argument #1 ($num) must be of type int|float, string given

### How to reproduce:
1. Have php8 on a site with Neve
2. Change the value of a typography control

### Expected behaviour:
No error

### Current behaviour:
Throws an error

### Reference:
FB group

[2022-04-07 08:16] #3422 closed

[2022-04-07 08:17] MarinescuLucia opened #3426 "Add active item color for the secondary menu"
### Description:

Currently there is no option to set the active item color for the secondary menu, as it is for the primary one. This could be added in future versions of the theme as currently it can be done only with CSS.

[2022-04-07 08:50] MarinescuLucia opened #3427 "Compatibility issue with currency converter plugins"
### Description:

It seems that there is a compatibility issue with some currency converter plugins due to the way the price from the cart page is handled. An user mentioned that the plugin authors advised to handle the get_price() function differently:

“It’s because the Neve theme uses $product->get_price() function on cart page for Price column. Please ask them to use WC()->cart->get_product_pr

[2022-04-07 09:07] Skystream96 commented on #3426
With the help of @mskapusuz we managed to find a working solution to "borrow" the active color from the primary menu. However, I think it would be better if we could create a separate option for the secondary menu too.

`add_filter('neve_dynamic_style_output', 'neve_override_secondary_active_color', 10, 2);

function neve_override_secondary_active_color($css, $type) {
	if( $type !== 'frontend' ) {

[2022-04-07 18:06] spencer-j opened #3428 "Sticky Header row in mobile not working if row is not sticky in desktop"
### Description:
see issue title

### How to reproduce:
1. Go to customizer header settings
2. set row to sticky in mobile tab
3. set same row not sticky in desktop tab

### Expected behaviour:
row sticky/fixed in mobile
row relative in desktop

### Current behaviour:
no sticky behaviour in mobile

### Reference:

### Technical info
* WordPress version: 5.9.3
* Theme version: 3.2.2
* Neve Pro: 2.2

[2022-04-08 07:57] cristian-ungureanu commented on #3404
Hey @UVLabs, what's the status here?

[2022-04-08 08:00] cristian-ungureanu commented on #3198
@mghenciu do you think we can close this issue? Is there anything else to do here?

[2022-04-08 08:04] cristian-ungureanu commented on #1630
This issue was fixed in the previous release ( neve 3.2.1 ) https://github.com/Codeinwp/neve/issues/3406

[2022-04-08 08:04] #1630 closed

[2022-04-08 08:06] mghenciu commented on #3198
Yes, should be good to go, as Andrei merge the PR mentioned above.

[2022-04-08 08:06] #3198 closed

[2022-04-08 10:46] cristian-ungureanu commented on #2177
I will put this task on hold. I had a look at the most used themes and no one is using `image-rendering: -webkit-optimize-contrast;`. We can get back to this after a while and see what we can do.

[2022-04-08 11:10] preda-bogdan commented on #3428
@cristian-ungureanu I've tested this with the latest versions and created a video.
I could not replicate the issue, the feature is working as intended, maybe there is a conflict or a compatibility issue at play here, we would need more details on this.

Here is my video showing the current behavior: https://vertis.d.pr/EvwvER

Let me know if there are more details about this or if there are other

[2022-04-08 11:13] cristian-ungureanu commented on #3428
@preda-bogdan maybe it's happening on other rows ( top or bottom )?

[2022-04-08 11:23] preda-bogdan commented on #3428
@cristian-ungureanu I tested on all rows, they behave the same since the logic is the same for all.

[2022-04-08 11:31] cristian-ungureanu commented on #3428
Thank you for checking @preda-bogdan .
@spencer-j I am closing this ticket, but please feel free to continue posting here if there is more info you can give us.

[2022-04-09 15:31] mghenciu opened #3430 "Card Style for the (Blog) List Layout"
### Description:

I was trying to create a template like this, on the Blog page, and noticed that we don't have the Card option for the List layout:
![image](https://user-images.githubusercontent.com/52494172/162580649-07247042-efd1-41a0-8f94-066cf56ba440.png)

Maybe we could add it, by reusing the same code-base **from the Grid Layout**:
![Screenshot 2022-04-09 at 18 30 31](https://user-images.gi

[2022-04-11 10:20] check-monoteam commented on #3428
Ok just found the different behavior/ problem.
this happens due to a configuration in customizer -> header -> Global Header Settings -> Style -> Enable Advanced Options -> set to off.
![enable-advanced-off](https://user-images.githubusercontent.com/67894286/162720212-bbc3313d-43db-40ce-ae2b-4503bef667ef.png)

in this case
[code]
in wp-content/plugins/neve-pro-addon/includes/modules/header_footer_g

[2022-04-11 10:32] mghenciu opened #3432 "Page Title visible, even when it's disabled from Neve options"
### Description:

**Note that** I rolled back on a test instance, to Neve to 3.1.5, and **with that version it looks as expected**.
On newer version, the bug is visible.
___
When using Custom layouts for pages, we disable the Page title from Neve to not have duplicates.
But it looks like since the latest version of Neve, on some pages - the Title still appears even if when it's disabled.

### How

[2022-04-11 10:34] spencer-j commented on #3428
Ok just found the different behaviour/ problem.
this happens due to a configuration in customizer -> header -> Global Header Settings -> Style -> Enable Advanced Options -> set to off.
![enable-advanced-off](https://user-images.githubusercontent.com/24397088/162722554-de7016a1-918d-4291-a675-8e9e0451dafc.png)

in this case
[code]
in wp-content/plugins/neve-pro-addon/includes/modules/header_footer_

[2022-04-11 13:10] preda-bogdan commented on #3333
@MarinescuLucia and @cristian-ungureanu

I've tested this, I tried my best to replicate the bug in different ways, apart from testing this on a real device with the exact OS and model.

I was not able to replicate this using the system screen reader, which was expected as the user mentions that keyboard navigation with the screen reader is working as expected. Here is my test: https://vertis.d.pr/

[2022-04-12 08:43] cristian-ungureanu commented on #3333
Thank you @preda-bogdan for investigating this 🚀. I will put this issue on-hold until @MarinescuLucia gets in touch with the client and we have some more info.

[2022-04-13 09:24] cristian-ungureanu commented on #3333
Hey, @preda-bogdan, we have an update from our user. Please check the conversation on [wp.org forum](https://wordpress.org/support/topic/accessibility-header-navigation-issue-with-screen-reader/)

At some point, we were working on [this ticket](https://github.com/Codeinwp/neve/issues/3258). Maybe it would help once it will be implemented.

[2022-04-14 11:44] cristian-ungureanu commented on #3427
Hey, @MarinescuLucia maybe you can help me a bit because I wasn't able to reproduce it.

I used [Product configurator for Woocommerce](https://wordpress.org/plugins/product-configurator-for-woocommerce/) and followed[ this guide ](https://wc-product-configurator.com/docs/product-configurator-for-woocommerce/getting-started/)to create a new product

After that, I installed [CURCY plugin](https://it

[2022-04-15 07:41] JohnPixle opened #3438 "Add shadow controls for primary / secondary buttons"
### Description:
To keep up with latest design trends and overall flexibility, I suggest we add support for Shadows in the primary and secondary buttons.

This set of controls could be added in the Customiser > Buttons panel, under the primary and secondary button panels.

![Frame 8](https://user-images.githubusercontent.com/4193672/163540331-703d0092-8816-4d5e-b0e2-4aaaed1d6a4e.png)

We can get i

[2022-04-16 15:27] MarinescuLucia commented on #3427
Hi @cristian-ungureanu! It seems to work properly for me as well. I'll reach out to the user and ask him to provide us more details on how it can be replicated. Thanks!

[2022-04-17 16:26] MarinescuLucia commented on #3427
The user [replied](https://wordpress.org/support/topic/issue-with-currecny-converter-plugins-here-how-to-solve/#post-15565492) that the issue doesn't occur with other themes, but he didn't provide any further details on how to replicate it, as he switched to another theme in the meantime.

[2022-04-18 07:11] cristian-ungureanu commented on #3427
Thank you, @MarinescuLucia. I will close this ticket as neither one managed to replicate the issue. Feel free to reopen the ticket if more users are reporting it.

[2022-04-18 07:11] #3427 closed

[2022-04-18 09:41] cristian-ungureanu commented on #3184
@abaicus, I am not able to replicate this issue. Here's what I've tried:

- Tested on v3.0.10, which was released on 27 Oct ( the day when the issue was reported ), and also on the latest version of Neve.
- Tested with a different number of columns and different pagination types.
- Tested on both local and on rodicaelena.com
- Tested on the desktop on chrome 96 ( as it seems that this was the vers

[2022-04-18 09:41] #3184 closed

[2022-04-20 10:53] irinelenache opened #3442 "No spacing between header and featured post when title is disabled"
### Description:

When the title is disabled for the **Blog** page and the **Featured post section** is activated, there is no spacing between the header and the featured post https://vertis.d.pr/Gl09o3
### How to reproduce:

1. Disable the title for the Blog page
2. Enable the Featured post section
3. Check the Blog page

### Expected behaviour:
Some top margin added to the featured post, when th

[2022-04-20 11:07] #3050 closed

[2022-04-20 11:07] #3428 closed

[2022-04-20 11:07] #1468 closed

[2022-04-20 11:07] #3432 closed

[2022-04-20 22:08] vytisbulkevicius opened #3443 "Values set in customizer do are not appearing in front-end - variables are undefined"
### Description:
This is not related to the latest release from yesterday as it was reported a few days ago.
The client reported that changes made in the customizer do not reflect in the front-end and also if you refresh the customizer you see that they do not appear there too on the rendered page even though they are saved as values in the sidebar.

If you change some value on the sidebar, let's

[2022-04-21 11:26] MarinescuLucia commented on #3443
There are a few users reporting a similar issue on the forum as well. [Here](https://wordpress.org/support/topic/theme-issues-36/) is the topic regarding it.

[2022-04-25 21:38] UVLabs commented on #2867
Latest correspondents:

[2022-04-27 15:01] MarinescuLucia opened #3450 "Page title disappears on post category pages"
### Description:

If the Cover option is selected in Customizer -> Layout -> Page, the page title for post category pages disappears.

### How to reproduce:

1. Go to Customizer -> Layout -> Page
2. Select the Cover option under Header Layout
3. Go to a post category page and observe that the page title isn't displayed anymore

### Expected behaviour:
The page title is displayed.

### Current beha

[2022-04-29 14:15] preda-bogdan commented on #3265
@mghenciu thank you for helping me find the issue, I submitted a PR with a fix for this.
As a side note, this only affected widgets defined prior to 5.8 and only if using the new skin. With the old skin, the issue was not present.

[2022-04-29 15:16] cristian-ungureanu commented on #3450
@MarinescuLucia I can't replicate this issue. Can you create a tastewp instance, please? Maybe it's something else that I'm missing.

[2022-04-29 19:27] UVLabs commented on #2177
Chome team has marked the bug as wontfix so it seems at least for now the issue would continue on chrome https://bugs.chromium.org/p/chromium/issues/detail?id=562162

[2022-04-30 08:13] cristian-ungureanu opened #3454 "Author box issues"
### Description:

- [x] The content alignment is not working well, the text is always aligned to left. Let's fix it and make the alignment control responsive so we can have control over each device.
- [x] On mobile, the image should align based on the content alignment, now it always sticks to the right
- [x] If there is a text that is higher than the image, the image should vertically align to th

[2022-04-30 09:08] cristian-ungureanu opened #3455 "Enhance related posts"
### Description:
We've got a feedback from one of our advisors:

[code]

We should talk and see what other controls are mandatory for this section.
@Codeinwp/design-team I would really much appreciate your input.

[2022-04-30 09:30] cristian-ungureanu opened #3456 "Enhance Sharing Icons on single post"
### Description:
One of our advisors came with some suggestions about this

cc. @Codeinwp/design-team what do you think? We should talk a bit about this and see exactly what we should add.

[2022-05-02 13:37] stefan-cotitosu commented on #3450
@cristian-ungureanu you can replicate it on the following instance.

 Admin area URL: https://acquireclocks.s1-tastewp.com/wp-admin
 Username: stefancoti
 Password: hlDQFgSGRcc

The page where the title is now visible - https://acquireclocks.s1-tastewp.com/category/uncategorized/
How to make it disappear by changing the header layout to Cover in **Layout** -> **Pages** options.

The only action I

[2022-05-02 14:02] cristian-ungureanu commented on #3450
Thank you @stefan-cotitosu, I was changing the layout from single posts and that's why I couldn't replicate it. 😅

[2022-05-02 15:00] cristian-ungureanu commented on #3443
@vytisbulkevicius, I'm going to put this task on hold as we couldn't replicate the issue, and the customers that got it are not using Neve anymore. Please ping me if you can find a site with this issue and you have access to it.

[2022-05-03 08:22] cristian-ungureanu commented on #3443
Hey, @vytisbulkevicius we found out the source of the problem. I contacted some users that reported the issue, both on wp.org, and on the Facebook group. Here's the message that I've sent to them, explaining the issue:

[2022-05-03 08:52] selul commented on #3443
we can look into how we can prevent this too.

[2022-05-03 08:55] cristian-ungureanu commented on #3443
A way would be to change our variables to lowercase and to prefix them as WordPress does. Instead of -postWidth to have -nv-postwidth

[2022-05-03 08:59] selul commented on #3443
yes, let's wait for @abaicus to review this too. @HardeepAsrani we might have the same issue on otter.

[2022-05-03 08:59] cristian-ungureanu commented on #3443
The downside is that we need to change them in both pro and light, and we need to make sure it would work in cases like Old Neve, new Neve Pro, or new Neve, old Neve Pro.

[2022-05-03 10:05] abaicus commented on #3443
From what I investigated on the user site you provided, the theme inline styles get loaded both inside the `<style id="global-styles-inline-css">` and the `<style id="neve-style-inline-css">` tag, which is a bit odd. The best bet is that some optimization plugin installed by the hosting provider bundles everything and passes it through a lowercasing function before.

Both the site in the ticket ab

[2022-05-03 15:20] stefan-cotitosu opened #3459 "Allow the possibility of hiding the reply comments form but display the discussion"
### Description:

This is a question about comments in Neve, for example on the single post layout. Right now, there are two possibilities of using those:

Allow comments [enable] - this will display the comments for the current post and the reply form

Allow comments [disabled] - hide both the comments and the reply form

This option is available while editing the post.

![Markup on 2022-05-03 at

[2022-05-03 15:52] ItsMeSilly opened #3460 "Page Titles Disappeared"
### Description:

In the free version of Neve all of the page titles have disappeared.
In customize page titles are permitted, and on each page the title is enabled.

### How to reproduce:

1. Look at a page. lol.
2.
3.

### Expected behaviour:
Titles were there originally.
### Current behaviour:
Now they're gone!
### Reference:

![image](https://user-images.githubusercontent.com/104849945/1664885

[2022-05-03 18:23] HardeepAsrani commented on #3443
Thanks, will change the variable to lowercase in Otter.

[2022-05-04 08:20] cristian-ungureanu opened #3461 "Menu enhancements"
1. Icon options to signify submenu/dropdown available - Neve has already
added icons for the mobile menu, so this could be replicated. Should
also add size controls.
2. Submenu Item Hover Effects - Currently this takes the hover effect of
the top level menu. This should be separated. There should also be added
options for having just the background color change or just the text
color change or bac

[2022-05-04 12:43] JohnPixle commented on #3455
@cristian-ungureanu I can work on that. Adding it to my list, I will follow up soon.
I generally like the idea of having better control over the spacing of some elements, like the user suggests.

Specifically, all the elements of Post blocks need a control to define a spacing value between the elements. This control should apply not only to Related posts, but also to the standard grid at the archi

[2022-05-04 14:42] mghenciu commented on #3455
### Related post Title
John, keep in mind that there may different context on how we show the Related post vs others.

So for example in Neve, related posts look like this (**Contained**, and quite close to the comment section):
<img width="1699" alt="image" src="https://user-images.githubusercontent.com/52494172/166686378-05bb34d9-9ba7-4dd7-9e13-b97d0666a61d.png">

While with Blocksy & Adobe CRM,

[2022-05-04 14:45] cristian-ungureanu commented on #3443
I've contacted the hosting company and sent them this message:

My name is Cristian Ungureanu. I work as a WordPress developer for Themeisle. I am in charge of developing and maintaining our WordPress theme named Neve, a top-rated product with over 300000+ active installs.Lately, several reports have been made from clients with sites hosted on Nazwa serves. The issue is that the style is not apply

[2022-05-04 16:43] JohnPixle commented on #3455
@mghenciu Thanks for this, We can definitely get inspired.

Actually it makes sense for the related posts section to be wider than the content. Content width is much smaller to help with readability. We can do the following:

### Add section width control
In the related posts panel we can have  dropdown with the options:
- Default (contained in entry content width, as it is now)
- Wide (occupies t

[2022-05-05 08:31] #3404 closed

[2022-05-05 08:31] #3265 closed

[2022-05-05 08:31] #3450 closed

[2022-05-05 08:31] #3442 closed

[2022-05-05 08:32] #2472 closed

[2022-05-05 09:49] cristian-ungureanu commented on #3443
@vytisbulkevicius seems like this issue is a duplicate of https://github.com/Codeinwp/neve/issues/3215. I will close this as there is a solution for fixing this and we'll probably implement a way to move inline style to a separate file.

[2022-05-05 09:49] #3443 closed

[2022-05-05 10:01] cristian-ungureanu commented on #3248
@preda-bogdan I wonder if there is a way to automatically detect `mod_pagespeed` maybe by checking some options from PageSpeed Module plugin?

What I would do is to:
1. Check for a custom filter we add.
2. Check for settings from PageSpeed Module plugin
3. If filter is enabled, we load the file
4. If filter is disabled, we check for PageSpeed Module plugin options

What do you think?

[2022-05-05 10:06] preda-bogdan commented on #3248
@cristian-ungureanu The PageSpeed Module is a server module, not a WordPress one.
https://developers.google.com/speed/pagespeed/module

We might be able to detect it, however, having a different logic for it might add unnecessary complexity to the application. I would find a way of satisfying all server environments with the same logic.

[2022-05-05 10:09] cristian-ungureanu commented on #3248
Thank you for clarifications, I thought it might be related to https://wordpress.org/plugins/kagg-pagespeed-module/.

[2022-05-05 13:51] JohnPixle commented on #3455
Alternatively if we want to simplify things for the section width, we can simply add a toggle that says "Inherit main container width".
What this does is to extend the related posts section to the 100% of the main container of the site.

![Screenshot 2022-05-05 at 16 44 06](https://user-images.githubusercontent.com/4193672/166936526-0678754d-c89c-46e8-82bd-b31f69f8ffa3.png)

![Screenshot 2022-05-0

[2022-05-05 14:30] JohnPixle commented on #3456
I worked on this one today. I created a mockup in FIgma that I believe addresses all of the advisor's input.
Original [figma here](https://www.figma.com/file/LBW82Rm2SA5rvvLdKrRnBl/Neve-Core-UI?node-id=3171%3A29717).

![Frame 106](https://user-images.githubusercontent.com/4193672/166945930-0f88a7d7-a104-4ad0-ba64-339ab8aad913.png)

Please let me know your thoughts / questions / feedback.

Thanks!

[2022-05-06 02:06] bderaguts commented on #3456
@JohnPixle Figma looks great. Can you also add in margin and/or padding for the entire section that the icons sit in. The icon size should have responsive controls too.

Any thoughts on adding more social sharing icon styles? See attached. I like the round version with the icon and border sharing a color.
![sharing icon styles](https://user-images.githubusercontent.com/62069921/167054958-a71efb22-

[2022-05-06 02:10] bderaguts commented on #3455
@JohnPixle I prefer the first option that you shared.

With adding the width options, it looks like a background color should be included as an option.

And looking at the examples provided, probably would be helpful to add font size controls to the section title along with alignment and anything else needed. Would be even better if there was a way to change the name from "Related Posts" to "Recom

[2022-05-06 02:12] bderaguts commented on #3438
What about adding hover animation options too?

[2022-05-06 09:08] JohnPixle commented on #3455
@bderaguts Thanks for the input!

I have revised the UI a bit. [Updated Figma](https://www.figma.com/file/LBW82Rm2SA5rvvLdKrRnBl/Neve-Core-UI?node-id=3176%3A28862). Some quick notes

- Meta controls have been added, good idea
- Regarding the title of the related posts section, how about we proceed as we do for the _Comments Reply_ section title? IF related posts are enabled, then we can show a con

[2022-05-06 09:27] preda-bogdan commented on #3454
@irinelenache can we move it to **Ready to Merge** or is there another reason for moving back to **Current sprint**?

[2022-05-06 09:30] irinelenache commented on #3454
@preda-bogdan Sorry, i moved it there by mistake 😅 , moving it to **Ready to merge** now

[2022-05-06 09:31] JohnPixle commented on #3456
Thanks for the input here. I have done some minor revisions on this (mainly responsive controls), and wait to see the team's input on the Related Posts issue (#3455) because it may affect how some things are executed in this social icons panel.

![social icons](https://user-images.githubusercontent.com/4193672/167105686-c9e255b2-fc88-4333-adb2-10c22638a45b.png)

Many thanks!

[2022-05-06 12:11] cristian-ungureanu commented on #3456
Thank you @JohnPixle, it looks good! I have nothing else to add.

[2022-05-06 14:10] bderaguts commented on #3456
The only thing I have a question on is the label controls. What is the plan to control the typography for the label?

[2022-05-06 14:43] mghenciu opened #3464 "Cover mode & Disable Title for Archive pages"
### Description:

As discussed with Cristi on Slack, this is kind of a bug, and also a Feature Request.

In Neve we have the Layout > Page > Disable Title option, which should Disable the Page Title on single Pages.
Right now it also disables the Titles on Archive pages, and can produce inconsistent results.

My suggestion would be **to separate this 2 options, so it would be one for Single pages

[2022-05-07 07:56] cristian-ungureanu opened #3465 "Sidebar toggle not appearing on mobile"
### Description:
The sidebar toggle does not appear on mobile

### How to reproduce:
1. Have a right or left sidebar on the shop
2. Check it on mobile

### Expected behavior:
To have a toggle

### Current behavior:
Toggle is missing

### Reference:
https://github.com/Codeinwp/neve/pull/3452

### Technical info
* WordPress version: 5.9.3
* Theme version: 3.2.3

[2022-05-08 19:18] ItsMeSilly commented on #3460
https://playtimeandparty.com/sign-up-for-our-weekly-merrymaker-magazine/

I don't have too many pages, but this is an example above. Thank you!

[2022-05-09 06:17] JohnPixle commented on #3456
I thought about that too, but I think we can keep simple by defaulting the label text to the body text.
Otherwise, if we want to add typographic control for the share icon labels, it would make sense to add such control for other typographic elements as well (author box, tags, comments etc).

[2022-05-09 06:26] JohnPixle commented on #3455
Thanks for the input here @cristian-ungureanu

Awesome, I hoped it would work this way, super excited to hear it.

We can do it like you said, definitely.

I also like the idea of the repeater field for managing the spacing between the elements. However I believe that when / if this works as expected, we should somehow include it in the posts in the archive page.

Let me work on some mockups on th

[2022-05-09 07:30] JohnPixle commented on #3455
Back with the [updated mockup](https://www.figma.com/file/LBW82Rm2SA5rvvLdKrRnBl/Neve-Core-UI?node-id=3185%3A27490), and a quick video outlining the UI.

https://www.loom.com/share/dc4c4ed1dcfd4290bfad8e2af14b35fb

Let me know your thoughts!

![related posts v 2](https://user-images.githubusercontent.com/4193672/167361334-0aeabf08-4876-433f-a87d-6f571641fd8e.png)

[2022-05-09 07:38] cristian-ungureanu commented on #3455
Looks good 🚀, thank you @JohnPixle.

@UVLabs any thoughts on this?

[2022-05-09 07:46] JohnPixle commented on #3438
I would not disagree about button animations if they are not too much trouble to implement. But probably just a couple of animations, nothing too fancy.

I tried to look into the customiser if we already have animation controls somewhere that we can re-use, but did not find anything though.

[2022-05-09 16:53] bderaguts commented on #3455
@JohnPixle thanks for that excellent Loom video. Watching that, I agree that these controls need to be added to the Archive pages too.

Two comments on it for now.
#1. For columns and number of posts, how does this work for responsive controls? I say that because 3 columns probably would not look the best on mobile. Could it become a slider on mobile? Could we have separate responsive controls to

[2022-05-09 17:46] cristian-ungureanu commented on #3455
Hey, @bderaguts

First, I want to thank you very much for your input. We appreciate it!

Let me answer your questions:

- For the first one, currently on tablet and mobile, we show just one column by default. I think it's a great idea to have a responsive control for this. We will evaluate the code and if it doesn't require significant changes, we will consider it.
- The answer is no for now for t

[2022-05-09 17:49] UVLabs commented on #3455
@cristian-ungureanu @JohnPixle Thank you, a bit of correspondence to wrap my head around, I will consume everything mentioned and circle back around with any questions/comments

[2022-05-10 11:34] UVLabs commented on #3455
@JohnPixle Thank you for your videos and mockups, they really helped me visualize your thoughts on this, everything looks fine on my end and I will begin working on this. I will focus first on getting all the controls to do what they have to do then when done we can look into any further consolidating and or position changes of the controls if they look too bulky, but for now I think what's in you

[2022-05-11 11:14] JohnPixle commented on #3455
@UVLabs Awesome, thanks for the input! Let me know if you need any help at any point.

[2022-05-11 12:56] selul opened #3469 "don't enque comment-reply script if the site does not support comments"
### Description:
To boost perfomance and avoid loading unecesarry script we can avoid loading comment-reply if the site does not support comments, i.e:
[code]

[2022-05-11 19:43] UVLabs commented on #3009
@JohnPixle Can you help visual this? The user wasn't too clear on what exactly they meant, I'm guessing this would apply for archive and single post like Marius asked.

I can see that we have controls for the meta in in archive:

<img width="302" alt="image" src="https://user-images.githubusercontent.com/10324144/167932251-0312dc99-050f-417e-9dbf-aef72a4acb98.png">

But it applies for both mobile

[2022-05-12 14:18] #3454 closed

[2022-05-13 07:14] cristian-ungureanu commented on #3009
@UVLabs as I am already working on a feature regarding meta fields and I already did some changes for the repeater, It will be easier if I implement this. Here's my progress https://vertis.d.pr/AdjrNU.
I will add the "Hide on mobile" toggle to each item.
Thank you for having a look at this!

[2022-05-13 13:02] UVLabs commented on #3009
@cristian-ungureanu ok thank you, please mention me once you’ve submitted the pull request with the repeater changes so that I can also pull it down to my local

[2022-05-16 18:17] JohnPixle commented on #3009
Sorry for missing this issue @UVLabs.
If the repeater would not be an option, I would alternatively suggest responsive control over the excerpt's length if possible.
But I see we can use the toggles just fine with the latest tweaks in the repeater as I saw in the video, so all good.

Love the overall additions in the repeater field.

[2022-05-18 10:20] irinelenache opened #3473 "[WP 6.0] Palette color names appear as variables in editor"
### Description:

When i select a palette color for a block in editor, the color name will appear as the variable's name https://vertis.d.pr/RCx2tX
### How to reproduce:

1. Go to editor and add a heading
2. Select a palette color for it

### Expected behaviour:
Should see the color name (for example: Neve Primary accent)
### Current behaviour:
The variable name is visible (--NV-PRIMARY-ACCENT)
##

[2022-05-19 22:54] vytisbulkevicius opened #3474 "Menu menu CSS (colors) do not work with version 3.2.5"
### Description:
Since version 3.2.5 Mega menu styling (part of Neve Pro) doesn't work anymore.
I'm registering the issue here as it gets fixed after rolling back the Neve theme itself to 3.2.4.

### How to reproduce:
1. Install Neve & Neve Pro
2. Create a menu and use Mega Menu also as described here - https://docs.themeisle.com/article/1506-neve-mega-menu-pro-header-booster
3. Set some colors fo

[2022-05-21 11:04] cristian-ungureanu commented on #3474
Closing this as it's a duplicate of https://github.com/Codeinwp/neve-pro-addon/issues/1987

[2022-05-21 11:04] #3474 closed

[2022-05-21 13:49] cristian-ungureanu commented on #3460
Hey @ItsMeSilly, we had a look over this and we didn't find any bug. Most likely it's a problem with the configuration of that page or with the customizer options. Can you please have a look over [this documentation](https://docs.themeisle.com/article/1491-neve-page-options) and let me know if it fixes the problem?

I'm gonna close this ticket but feel free to post here any updates you have. Thank

[2022-05-21 13:49] #3460 closed

[2022-05-22 08:51] #3248 closed

[2022-05-23 10:47] cristian-ungureanu opened #3475 "Add notice in customizer that sidebar won't appear when content width is > 95%"
### Description:
Let's have a notice in customizer that appears when the sidebar si greater than 95% that lets the user know the sidebar appears only if content width is lower than 95%.
We have something similar neve meta options:
<img width="303" alt="Screenshot 2022-05-23 at 13 46 38" src="https://user-images.githubusercontent.com/9929553/169803059-f8dbf63c-1cdc-44e4-8674-e5c967223af3.png">

[2022-05-23 11:14] cristian-ungureanu commented on #3473
After having a discussion on Slack, we agreed that this is the intended behavior from the Core team and we won't do anything about it. Thank you @irinelenache for noticing and reporting it.

[2022-05-23 11:14] #3473 closed

[2022-05-23 19:33] cristianraiber opened #3477 "No out-of-the-box option for 1-column layout w/ image on top"
https://www.loom.com/share/f3109c1a947b4957a890c13d07fb28e2

[2022-05-23 19:46] cristianraiber opened #3478 "Custom Content Width below "Full Width" is confusing"
https://www.loom.com/share/9fee9c5490094549a16ee236be257a5f

![CleanShot 2022-05-23 at 20 46 30](https://user-images.githubusercontent.com/7841556/169894699-24532dc1-43bd-44dc-a6ff-e80dde7f1f16.jpg)

[2022-05-23 19:57] cristianraiber opened #3479 "No way to have sticky header + show on scroll both active at the same time"
Video: https://www.loom.com/share/6165ecd32d7a4bd3b7dce10b84b94ff0

As the video shows, I wanted to replicate the same effect of the disappearing header like you folks are doing on finmasters.com. Toggling both options in Neve to ON at once, didn't produce the intended results. It looks like "show header on scroll" cancels out the "sticky header" option.

[2022-05-28 07:40] cristian-ungureanu commented on #3456
Hey @JohnPixle, here's the progress so far: https://vertis.d.pr/IYx2Ha
I'm not that sure about the text label and how you imagined it but right now it's not looking great. Let me know what you think.

@bderaguts I would love to know your opinion about this.

[2022-05-30 08:00] JohnPixle commented on #3456
@cristian-ungureanu thanks so much for the update, really solid work, love it.

I agree we have some room for improvement in the label area. Here's what we can do.

- Regarding the styling of the label, what do you think about adding HTML tag selector (p, span, h1-h6) in order to be able to apply some basic styling.

Rough mockup:

![Screenshot 2022-05-30 at 10 54 19](https://user-images.githubuse

[2022-05-30 08:15] cristian-ungureanu commented on #3456
That's brilliant! Instead of adding another set of typography controls for that label, we let users decide which typography rules to follow.
I also agree with the above / below label position.

Thank you for your input, @JohnPixle!

[2022-05-30 08:31] JohnPixle commented on #3456
Thanks @cristian-ungureanu, ping me whenever you need anything else for this !!

[2022-05-30 21:42] bderaguts commented on #3456
@cristian-ungureanu @JohnPixle I agree with Cristian's statement "That's Brilliant!". This is a great compromise to give more controls, and the label above and below are excellent additions to this. Can't wait to use this feature.

[2022-05-31 20:35] ian-bishop opened #3483 "Flex Wrap White Space Issue on Mobile"
Hi,

It seems flex-wrap is introducing a lot of white space between the header and the start of the content when viewed on mobile and tablet.

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

This seems to be a new issue specific to single product post (WooCommerce).

[2022-06-01 22:42] ian-bishop commented on #3483
This issue can be closed.

The issue was related to the Single Product layout where a sidebar was selected but no data was configured for the product sidebar.

[2022-06-01 22:42] #3483 closed

[2022-06-15 13:10] Skystream96 opened #3485 "Spacing Options missing for Group Block (Margin, Padding) QUESTION / Possible Bug"
### Description:
One user described that the spacing settings for this particular block are missing when using the Neve theme and it turned out to be true. When using the default 2022 Theme, you get some additional spacing block settings in the right sidebar which disappear once you switch to Neve.

However I did some more testing and this was the block that I managed to find as being the only one

[2022-06-17 14:04] Skystream96 opened #3489 "Tag Cloud Block loses customisations/styling on Front End"
### Description:
The Tag Cloud block has the default styling showing tags in different font sizes depending on which tag is most used. Whilst using Neve, this feature does not work in the front-end although it looks good in the page editor.

### How to reproduce:

1. Have Neve installed
2. Make sure you have tags set for your Posts
3. Edit a Page
4. Add a Tag Cloud Block
5. Set the Default Styling

[2022-06-17 17:01] preda-bogdan commented on #3438
@JohnPixle I implemented this feature on a Draft PR however I have a few questions.
I added the controls here:
![image](https://user-images.githubusercontent.com/23024731/174342101-e6101366-193c-4c6f-8b93-10cb0fa900a4.png)

I took the liberty to not use the opacity control as it is already part of the Color control and the `box-shadow` CSS property doesn't have a separate property for opacity, is

[2022-06-19 22:20] MarinescuLucia opened #3491 "Featured post section enabled makes page titles disappear"
### Description:

If the "Featured post section" is enabled in Customizer -> Layout -> Blog/Archive -> Featured Post, the title of the pages isn't displayed anymore.

### How to reproduce:

1. Create a new page and add its title
2. Check that the title is visible
3. Go to Customizer -> Layout -> Blog/Archive -> Featured Post and activate that toggle
4. Check the page previously created and observe

[2022-06-20 08:52] cristian-ungureanu commented on #3438
@preda-bogdan, the selectors should be already there. We can allow shadows on the same selectors on which we apply the background color for primary/secondary buttons. If we use the same selectors, we won't need to exclude anything else, and the shadow won't apply to the search button.

In this case, I think we can increase the limit of the CSS. What do you think @selul, @abaicus?

[2022-06-20 08:53] selul commented on #3438
@cristian-ungureanu increasing the limit is not a good idea. We need to search for a solution that does not involve this.

As I said previously after this change should be no impact to user's page weight and we should add the style only when they use the control.

[2022-06-20 09:07] abaicus commented on #3438
@cristian-ungureanu @preda-bogdan @selul

The issue with this would be that adding it another way will add more inline styles than adding it straight inside the CSS stylesheet; You'd have to add selectors for all the buttons we want to add this to - we already have these selectors in the main CSS.

Could we maybe look around for other things we can extract from the CSS and add inline?

[2022-06-20 09:58] JohnPixle commented on #3438
Thanks for the update @preda-bogdan

I don't have any technical insights on the issues, but I only have one small comment on the labels:

Instead of `width` and `height`, I believe it would make more sense to follow some more industry-standard naming conventions. How about:

`Offset X`
`Offset Y`

or

`Horizontal offset`
`Vertical offset`

I am fine with any of the above.

Also, if it helps you in

[2022-06-20 10:13] preda-bogdan commented on #3438
@JohnPixle I've used those labels instead of more specific ones to avoid adding more strings to the translation file.
@selul @cristian-ungureanu @abaicus  I can only target `is-primary` and `is-secondary` classes with an inline style that is being added if the shadow is being used, this way we would avoid issues with the shadow not working on other button elements and not increase the page weight

[2022-06-21 08:02] cristian-ungureanu opened #3493 "E2E test failing"
### Description:
`.edit-post-more-menu` class became `.interface-more-menu-dropdown class`

### Technical info
* WordPress version: 6.0.0

[2022-06-21 08:22] #3493 closed

[2022-06-21 08:32] abaicus opened #3495 "Review dedicated AMP code inside the theme"
### Description:

We can review the CSS we add specifically for Google AMP, and either inline it or move it to its own stylesheet and enqueue it only when needed.

This would bring the CSS size down quite a bit, judging only by the code we add for the nav menu `38594` bytes vs `39007`:

https://github.com/Codeinwp/neve/blob/1e76856060c550a55e91dbc59497f79faf71f96b/assets/scss/components/elements/n

[2022-06-21 09:24] cristian-ungureanu opened #3496 "Load Google fonts locally"
### Description:
Based on https://wptavern.com/wordpress-org-strongly-urges-theme-authors-to-switch-to-locally-hosted-webfonts we should only load Google fonts locally

[2022-06-21 09:40] cristian-ungureanu commented on #3496
Let's wait and see how things will evolve https://core.trac.wordpress.org/ticket/55985

[2022-06-21 16:12] preda-bogdan opened #3497 "Bug: Error in Customizer when opening accordion"
### Description:
Inside Customizer when editing the Buttons if you click on the nested accordion for Hover, an error is shown in console.
The error is caused by the Popover listener from the Color control that fixes the Gradient component closing when angle picker is being used.

### How to reproduce:

1. Activate Neve
2. Go to **Customizer > Buttons > Primary Button**
3. When opening the **Hover*

[2022-06-23 11:15] mskapusuz opened #3501 "Sparks Compatibility"
### Description
In this issue, Sparks compatibility will be tackled.

[2022-06-23 14:23] #3456 closed

[2022-06-23 14:27] #3497 closed

[2022-06-23 14:27] #3258 closed

[2022-06-23 14:28] #3430 closed

[2022-06-23 14:28] #3438 closed

[2022-06-23 14:43] cristian-ungureanu commented on #3333
@MarinescuLucia can you check with the client and ask to see if the issue is fixed in 3.3? 🙏

[2022-06-24 10:51] stefan-cotitosu opened #3503 "Both dates are displayed in the post meta"
### Description:

In the post meta, on the blog page and single post layout, both dates are displayed if the "last updated date" option is disabled.

### How to reproduce:

1. Enable the date in Post Meta
2. Check the blog and single layout pages
3. Toggle this option - https://vertis.d.pr/PgKwQt

### Expected behaviour:

![Markup on 2022-06-24 at 13:50:43](https://user-images.githubusercontent.co

[2022-06-24 11:49] cristian-ungureanu opened #3504 "{current_query_title} magic tag can't be displayed inline with other text"
### Description:
{current_query_title} magic tag can't be displayed inline with other text

### How to reproduce:
1. Add "Youe are viewing {current_query_title} page" in a HTML component in header
2. Check the frontend

### Expected behavior:
Youe are viewing Blog page

### Current behaviour:
Blog
Youe are viewing page

### Reference:
<img width="907" alt="Screenshot 2022-06-24 at 14 49 16" src="h

[2022-06-24 13:07] mghenciu opened #3505 "[UI issue] Neve Options button color is indistinguishable"
### Description:

Gutenberg has a mode when all the UI buttons are displayed as labels. When enabled, this causes the **Neve Options buttons to have a very low contrast** between the buton-bg and the text color.

### How to reproduce:

1. Open a Gutenberg site + Neve, in edit mode
2. Select the Editor options, and open Preferences
3. From the Modal, enable buttons as Labels
4. Notice how Neve Opti

[2022-06-27 06:32] abaicus opened #3509 "Copyright disappears when changing to 1 column the footer bottom row"
### Description:
Copyright disappears when you change the footer layout.

### How to reproduce:

1. Customizer > Footer > Bottom Row settings;
2. Change the columns number to 1;

### Expected behaviour:
Copyright should remain.

This happens with the starter content because I didn't update the theme mod to add the copyright component to the left (it adds it to the center slot), hence, when you swi

[2022-06-27 06:33] selul commented on #3509
sure.

[2022-06-27 14:11] abaicus commented on #3352
I think we can add some code to do that for any of the menu items that might not have links. We can inline all the JS necessary. 👍🏻

I've sent in a PR that should enable this behavior here: https://github.com/Codeinwp/neve/pull/3513

[2022-06-27 14:15] #3503 closed

[2022-06-28 19:24] UVLabs commented on #3475
@cristian-ungureanu I've added some ground work for this but currently have it show after 80% so that we can use the same string used before.

I noticed that the sidebar doesn't actually disappear after 95% when changing the content width in customizer...it actually stays intact, is that a bug?

[2022-06-29 07:48] vytisbulkevicius opened #3516 "EM and REM units in Neve theme settings in addition to PX"
### Description:
User requested that it would be beneficial to have **EM** and **REM** units in the Neve theme for font-sizes, padding, and margins. Currently, we have **PX** only. In older versions of the theme, we had **EM** units but it was removed.
I also heard about this request (to have EM units) during the call initiative but didn't hear much of this request other than that.

### Alternativ

[2022-06-29 17:39] #3504 closed

[2022-06-29 18:42] UVLabs commented on #3464
@mghenciu I pushed a change here: https://github.com/Codeinwp/neve/pull/3517 that adds a separate option for hiding archive title.

Please check it out and let me know if it's what you had in mind

[2022-06-29 22:40] inlizard opened #3518 "Article order by Modified time"
### Description:

How to order the article shown on the main page by modified time rather than create time.
### Alternatives:

[2022-06-30 07:04] AndreeaCristinaRadacina opened #3519 "ACF field value not displayed in Meta"
### Description:

The ACF field value will not appear in the meta unless you use Post Meta first.
### How to reproduce:

1. Install ACF and create a field group -> field.
2. Populate it for a certain post.
3. Go to Appearance > Customize > Layout > Single Post > Post Meta.
4. Add a new item there and click on ACF.
5. Select the field that was populated before and check if it appears.

### Expected

[2022-06-30 09:23] mghenciu commented on #3464
Thank you, Uriahs 🚀

I've imported now [Recipes Blog](https://demosites.io/recipes-blog-gb/) , and **YES, now it's possible to disable the Title on Archive pages**, I've tested with Category & Author archives.

[2022-07-01 09:56] cristian-ungureanu commented on #3475
@UVLabs if the post/page has some custom settings in the editor ( from the sidebar that shows in the screenshot ) you won't see any changes in the customizer.

[2022-07-01 10:55] cristian-ungureanu commented on #3166
Hey @abaicus. It's been a while here with no response from me or @preda-bogdan and I want to apologize for that. I want to have a look over this in one of our daily meetings and see how we can proceed further.

[2022-07-04 07:24] abaicus opened #3522 "Neve sidebar breaks editor layout when opened"
### Description:
Content width inside the editor doesn't work as expected.

### How to reproduce:

1. Go into the editor (either create a new page, or post);
2. Open up the Neve sidebar;
3. The content width changes to something that doesn't really reflect the frontend one;
4. If you click the "Default" option for the container, everything gets set properly

### Expected behavior:
The editor shoul

[2022-07-04 09:26] irinelenache opened #3523 "[Neve 3.3 test] Starter sites issues"
### Description:

Here i'll post a list of inconsistencies between demosites.io and the actual import of FREE starter sites

**Fitness gutenberg:**

- [x] Imported image is bigger than the others in the same section (On [this page](https://demosites.io/fitness-gb/))
Demosites: https://vertis.d.pr/AFMAXv
Import: https://vertis.d.pr/vzjE0K

**Photography gutenberg:**
- [x] Imported image is bigger t

[2022-07-04 14:39] cristian-ungureanu commented on #2927
Implemented this in the PRO version. When we first developed Neve, we had a talk about translations and we agreed that we should have the support for this just in Neve Pro.

Closing this ticket as it is solved in PRO

[2022-07-04 14:39] #2927 closed

[2022-07-04 18:33] Skystream96 commented on #3485
Hello @abaicus,

I have tested a few things with this PR and I found that the settings do appear now, but I have tested further and found the following:
- [ ] The text color does not apply in the Editor for all the elements but it will be applied in the Front -End
- [ ] Typography settings are not applied to all text elements in the Editor (I.e paragraph) but they are applied in the front end.
- [

[2022-07-05 04:20] abaicus commented on #3489
@Skystream96 Thanks for taking a look at this. Indeed, all footer links should inherit the footer row text color. 👍🏻

[2022-07-05 04:48] abaicus commented on #3485
@Skystream96 Thanks for taking the time to test this! 👍🏻 🚀

While the typography and color findings are valid, they are unrelated to this PR.

These settings were available before as well. The only typography setting added by the current change is the line-height - which I gather wouldn't probably work fine unless set at a more specific block-level (i.e., directly on the paragraph or heading).

As

[2022-07-05 10:36] cristian-ungureanu commented on #3478
@cristianraiber While I understand the confusion from the initial issue, the container width refers strictly to the container and the custom content width to the content.

If you have a sidebar on that particular full-width page, there is no way to enlarge or shrink it from the meta (but it will still inherit the value from the customizer).

However, we need to make this less ambiguous and explain

[2022-07-05 10:36] preda-bogdan commented on #3166
Hey, I think this can only be achieved if we rewrite the header to support a dynamic `grid` system, this way you could place elements on specific sub-columns on a (12-16 col) grid, and there won't be a need for alignment classes and you can then control how much an element can grow.

However, this seems like a big refactor and you will also need to make sure you migrate the current layout to the n

[2022-07-05 14:10] cristian-ungureanu commented on #1005
Since 2.5.2, there have been lots of releases implementing new features and fixing stuff. @mjza I invite you to try the latest version and open a new ticket if the problem persists.

Closing this ticket as it's an old one and it might not be relevant anymore.

[2022-07-05 14:10] #1005 closed

[2022-07-05 14:11] cristian-ungureanu commented on #1006
Since 2.5.2, there have been lots of releases implementing new features and fixing stuff. @mjza I invite you to try the latest version and open a new ticket if the problem persists.

Closing this ticket as it's an old one and it might not be relevant anymore.

[2022-07-05 14:11] #1006 closed

[2022-07-05 14:15] irinelenache opened #3529 "Mobile sidebar hover mode issues"
### Description:

The second **hover skin mode** used in the menu doesn't work in the mobile sidebar (the other ones work fine) https://vertis.d.pr/XZVakw .
Also i'm adding here two issues that i found while testing [this PR](https://github.com/Codeinwp/neve/pull/3513) regarding the dropdowns in the mobile sidebar:
- If the dropdown is open and i hover over the # menu item, the hover effect will a

[2022-07-05 14:16] cristian-ungureanu commented on #1105
This issue is not present anymore. Closing this ticket as a lot of things changed in the meantime.

[2022-07-05 14:16] #1105 closed

[2022-07-05 14:36] cristian-ungureanu commented on #2439
Starting from [this](https://bholmes.dev/blog/alternative-to-css-variable-media-queries/) article I got to [this plugin](https://github.com/csstools/postcss-plugins/tree/main/plugins/postcss-custom-media).

@abaicus maybe you can have a look over this, maybe we could use it. 🤔

[2022-07-05 14:37] cristian-ungureanu commented on #2588
Closing this ticket as it's not relevant anymore.

[2022-07-05 14:37] #2588 closed

[2022-07-05 14:48] cristian-ungureanu commented on #3166
After today's meeting, we agreed that we should first see if this is still relevant or if it was just based on people rejecting changes.

@Codeinwp/support can you help us a bit and let us know if this is still something that users are complaining of?
The solution to this issue would be a pretty big refactor, and we're trying to understand if we should act on it.

[2022-07-05 16:06] Skystream96 commented on #3485
Hello @abaicus ,

Thank you too for taking the time to provide the needed feedback! It really helps.

I will create a new issue with the Typography/Color Settings where we can test more things and see if we can find a solution. As for this particular PR then I guess the purpose was fulfilled thus I think we can move it to Ready to Merge.

As for the last part, I have noticed that the Group Block d

[2022-07-05 22:07] mjza commented on #1006
@cristian-ungureanu Unfortunately I have no more access to that project to test the new version.

[2022-07-06 05:14] abaicus commented on #3485
@Skystream96 Thanks for taking the time to explain!

The controls come without any defaults (all of them are optional). From what other themes are doing:

- Twentytwentytwo theme adds a top margin to group blocks;
- Blocksy adds a margin top (this comes from content spacing);
- Astra doesn't space groups at all;
- Generatepress doesn't add any space;
- Kadence adds a margin bottom;

As I see it as

[2022-07-06 07:25] abaicus commented on #2439
@cristian-ungureanu

`@custom-media` directives are in the draft spec for now [here 🔗](https://www.w3.org/TR/mediaqueries-5/#custom-mq).

PostCSS is a dev tool that runs during the build phase and transforms CSS using JS. The `postcss-custom-media` plugin does just that. It can be useful in the same way we use [SCSS variables 🔗](https://github.com/Codeinwp/neve/blob/master/assets/scss/main/_variab

[2022-07-06 07:46] mghenciu commented on #3485
**I think it should be fine**, for now, without the default top/bottom margin.
As long as the Core doesn't establish new UX patterns, we should be good for now.

One small thing I noticed with Neve is when adding Background Color to a group - there won't any padding added. By default, the Core add some padding when the Bg color is enabled (see the video).

https://user-images.githubusercontent.com

[2022-07-06 09:24] #3333 closed

[2022-07-06 12:46] mskapusuz opened #3531 "Missing Sparks compatibility constant"
### Description:

After the Sparks compatibility PR has been merged, I've detected NEVE_COMPATIBILITY_FEATURES define constant does not contains the **sparks** array key. That must be added for Sparks compatibility.

[2022-07-06 17:08] JohnPixle commented on #3523
Thanks for reporting all these @irinelenache.
By scanning the bullets for each site in your comment I see many of them have a "technical" twist :)
I believe that the fix for those would be to just re-define the values on the controls. Regarding the image sizing, I have no idea, but there might be a fix by the same way.

@mghenciu let me know how you see fit to approach this, and if you need any he

[2022-07-07 14:04] vytisbulkevicius commented on #3166
I remember a few tickets from past months:
https://secure.helpscout.net/conversation/1901818276/324514/
https://secure.helpscout.net/conversation/1855469810/318521/

[2022-07-08 07:10] cristian-ungureanu commented on #3461
I will close this issue in favor of https://github.com/Codeinwp/neve-pro-addon/issues/1854
For the other header suggestions, I will add separate issues.

[2022-07-08 10:54] irinelenache commented on #3523
Tested most of the Elementor starter sites now and found a single problem:

^ Same happens for the Elementor one

[2022-07-08 11:16] JohnPixle commented on #3523
@irinelenache

Yes, this would be great actually, we need a newer version of Elementor in demosites 👍🏻

[2022-07-08 13:24] irinelenache commented on #3523
Pro starter sites issues(gutenberg):

**Craft beer**:
- Missing woocommerce blocks on the homepage https://vertis.d.pr/zWMRv9 https://vertis.d.pr/y8TATb
- Misaligned columns on the about page https://vertis.d.pr/nZjoQl and on the contact page https://vertis.d.pr/RSQWKm
- Columns spacing is missing on the about page https://vertis.d.pr/Aad4vr

**Business:**
- Our services section columns have no pa

[2022-07-08 13:38] cristian-ungureanu commented on #3523
Hey @preda-bogdan, seems like there are some issues regarding the imports. Can you please have a look at this? If there are some actions related to the setup of the starter sites I think @mghenciu can help.

[2022-07-11 08:12] #721 closed

[2022-07-11 08:12] #3495 closed, assigned to abaicus

[2022-07-11 08:12] #3469 closed

[2022-07-11 08:12] #3489 closed

[2022-07-11 08:12] #3426 closed

[2022-07-11 08:12] #3529 closed

[2022-07-12 06:58] #3491 closed

[2022-07-12 06:58] #3522 closed

[2022-07-12 06:58] #3352 closed

[2022-07-12 07:01] #3531 closed

[2022-07-12 07:02] #3501 closed

[2022-07-12 07:10] cristian-ungureanu commented on #3518
Hi @inlizard, this is a PRO feature. If you have Neve Pro you can follow this documentation https://docs.themeisle.com/article/1059-blog-booster-documentation#orderingandcontent

Have a great day!

[2022-07-12 07:10] #3518 closed

[2022-07-12 07:15] #3221 closed

[2022-07-12 07:16] #2966 closed

[2022-07-12 07:16] #2952 closed

[2022-07-13 12:40] AndreeaCristinaRadacina opened #3537 "CPT post meta not displayed"
### Description:
When clicking on the Layout tab in the Customizer, then on one of the Single custom post types, the post meta is not displayed until I click on the meta elements and enable one of them.
### How to reproduce:
1. Install Custom Post Types UI, create a custom post type.
2. Create a post for the previous post type.
3. Go to Appearance > Customize > Layout > Single jeans ( in my exampl

[2022-07-15 13:05] preda-bogdan opened #3539 "Warning in template_part.php when using Custom Layouts for CPT"
### Description:
After creating a CPT with WCK Post type creator, when Using a custom layout in customizer for the CPT archive is enabled
[A warning](https://vertis.d.pr/nsOQDq) is presented.
After changing something in the Post meta settings, the warning is gone. (Checked with CPT UI and happens there too)

The warning originates from `neve/inc/views/template_parts.php:297`
I think some of the da

[2022-07-19 12:18] cristian-ungureanu commented on #3539
Fixed this issue while resolving https://github.com/Codeinwp/neve/issues/3537 👍

[2022-07-19 12:18] #3539 closed

[2022-07-20 11:49] #3537 closed

[2022-07-20 18:13] mghenciu commented on #3523
@preda-bogdan , as promised, here are a few technical things we can look into:

- [ ] **how woo blocks are rendered after import**. For example on the [Craft Beer site](https://demosites.io/craft-beer-gb/), the homepage has some Woo blocks (On Sale Products, Newest Products). After the import, the woo products are also imported, but on the homepage and in general, the woo blocks are not showing th

[2022-07-21 07:34] irinelenache opened #3542 "Notice in dashboard with EDD installed"
### Description:

There is a notice in dashboard if you have EDD installed
`Notice:  The edd_settings_styles hook is deprecated since Easy Digital Downloads version 3.0! Use the edd_settings_misc hook instead. in /s4-becomepurpose/wordpress/wp-content/plugins/easy-digital-downloads/includes/misc-functions.php on line 769`

### How to reproduce:

1. Import NFT starter site (it contains EDD plugin)

[2022-07-21 10:31] preda-bogdan commented on #3523
Thank you @mghenciu I will start looking into those.

[2022-07-22 10:17] mghenciu opened #3543 "Section width settings missing in Neve 3.3.3"
### Description:

After the latest update, the Width Settings in the Otter Section block toolbar - **are missing**.

**Note:** this may be related to Otter, but since the last release of Otter was some time ago, the issue may be from Neve.
On Neve 3.3.2 those settings are present.
### How to reproduce:

1. Create a fresh instance with Neve 3.3.3
2. Add a Section Block, and try to make it full-widt

[2022-07-22 14:01] preda-bogdan commented on #3523
@mghenciu I've fixed the mentioned issues inside the `templates-patterns-collection` plugin. You can test using the linked PRs for each issue reported.

Let me know if this solves the issues for you, also if you encounter other tech issues with regards to import I'll take care of them just tag me.

[2022-07-24 12:03] cristian-ungureanu commented on #3543
Hey @abaicus. I had a look here and the issues come from adding the `theme.json` file when we tried to fix [this issue](https://github.com/Codeinwp/neve/issues/3485). In order to get the section width back, we need to have something like this in `theme.json`:

[code]
I saw that you can set a CSS Variable for "contentSize" and "wideSize" so maybe there we can add two new controls for those ( check

[2022-07-24 16:40] MarinescuLucia commented on #3543
Related to [this issue](https://wordpress.org/support/topic/neve-3-3-3-problems-with-font-formatting-since-latest-update/#utm_medium=referral&utm_source=facebook.com&utm_content=social):

+1 https://secure.helpscout.net/conversation/1957964433/330623/

[2022-07-24 18:51] MarinescuLucia commented on #3543
+1 https://wordpress.org/support/topic/section-alignment/

[2022-07-25 09:23] abaicus commented on #3543
It seems that adding the theme.json  file in the latest version spawned some more unexpected issues.

First, the alignment options for wide and full-width seem to have been removed. We can add the `contentSize`  and `wideSize` in the `theme.json`  file to fix this with some custom variables.

Upon further research, it seems that adding `appearanceTools`, adds some spacing inconsistencies. This tra

[2022-07-25 09:44] preda-bogdan commented on #3523
@irinelenache when you have some time can you confirm that the PRs linked are solving the issues mentioned by @mghenciu for the technical side?

Thank you!

[2022-07-25 10:00] mghenciu commented on #3543
Thank you for taking a look, Andrei.

On demosites we didn't had any challenges yet, at least on the **Front-end**.
But **I had to revert Neve to the previous version**, as John was working on a new demo and those options with Full-Width are vital when building Starter Sites (all of our Otter sections are Full-width).

I am not sure what was added in `theme.json`, to have an opinion on what we can

[2022-07-25 10:02] selul commented on #3543
I think we can evaluate if the changes added by theme.json are required or requested to be worth this hassle overall.

[2022-07-25 10:13] abaicus commented on #3543
@mghenciu, the `theme.json` file adds a bunch of inline styles, depending on what options are enabled inside it.

This includes inline CSS for block-margin (defaulted to 0), applied to all blocks (unless overwritten somewhere else) - hence the spacing issue I mentioned above.

We added it because of the additional options it brings [inside the editor](https://github.com/Codeinwp/neve/issues/3485).

[2022-07-25 11:43] preda-bogdan commented on #3543
I would also opt for removing the `theme.json` for now. And better review the changes it brings. We can create documentation to help users add the file if they require it, would that be useful as a temporary solution?
We could create an issue to improve the compatibility with the `theme.json` and also since will be adding the file check what minimum support we have for FSE on Neve for the future.

[2022-07-25 12:02] cristian-ungureanu commented on #3543
Let's remove it then 🔪 , we can evaluate later and find a proper way to add it back.

[2022-07-25 12:26] cristian-ungureanu commented on #3485
We removed the theme.json file as it produces lots of other issues. I'm opening back this ticket. We need to better evaluate the changes that this file adds.

[2022-07-25 14:37] MarinescuLucia commented on #3543
Some users reported that in the editor everything is aligned to the left side of the screen, even though everything looks properly on the published page. I'm thinking it may be related to this issue as well.

![Capture](https://user-images.githubusercontent.com/86592341/180802810-116ff92e-daa5-4cdd-8931-eff4251af170.PNG)

Reported [here](https://wordpress.org/support/topic/new-update-messing-with-

[2022-07-26 09:15] #3464 closed

[2022-07-27 07:11] Skystream96 opened #3546 "Comments and Replies are not respecting indentation"
### Description:
This issue is a bit harder to explain in words and that is why I'll attach a video to it to better explain it. What I noticed is that if a comment has a reply then a reply is made to the first reply, then all other comments coming after them, will not be treated as comments in indentation, but as replies. Here is a screenshot trying to showcase the idea.

<img width="1044" alt="Sc

[2022-07-27 10:17] preda-bogdan commented on #3546
@Skystream96 I made a fix for this you can confirm if it solves the issue for you when you have some time.
Thank you!

[2022-07-28 08:12] Skystream96 commented on #3546
Hey @preda-bogdan ,

Everything works as expected now. 🚀

Feel free to close this issue whenever needed.

[2022-07-28 08:15] preda-bogdan commented on #3546
@Skystream96 it will close automatically on release. Thank you for checking!

[2022-07-29 10:21] cristian-ungureanu opened #3549 "Comments are appearing in the starter content"
### Description:
The comment form appears on frontpage on https://wp-themes.com/neve/

### Expected behavior:
No content form

### Reference:
The problem might be from the single ampersand operator ( & instead of && ). https://github.com/Codeinwp/neve/pull/3514/files#diff-8c5f39b26a5693707859b8dfaccc8fee30fd530988cef285e8a70ae45adb5f0fR378

### Technical info
* WordPress version: 6.0.1
* Theme ver

[2022-07-29 15:44] JP-SWS opened #3551 "Color palette icon in menu has no alt text, making navigation confusing for screen reader users"
### Description:
The icons used for switching the colour palette (light/dark mode) are currently not described by screen reader software. Screen readers currently report that there is an unknown graphic hyperlink in the menu bar. This can make website navigation confusing for screen reader users.

Adding alt-text to these icons would make the function of the button clear.

### Alternatives:

[2022-08-01 08:21] abaicus opened #3553 "Redundant PHPUnit namespace class import"
We should remove this class import [here](https://github.com/Codeinwp/neve/blob/master/inc/core/styles/gutenberg.php#L12).

[2022-08-02 07:42] cristian-ungureanu commented on #3523
Hey @preda-bogdan, feel free to close this issue if all the problems are resolved.

[2022-08-02 09:43] mghenciu commented on #3523
I'll focus on this issues today and get back with an update.

[2022-08-02 22:06] vytisbulkevicius opened #3557 "When there are no components added to the Header Builder theme generates a critical error"
### Description:
This is a rare situation but sometimes users have no components added to the header builder and builds header using different methods for their website.

Since Neve version **3.1.6**, this generates a critical error in customizer and front-end of the website.
So if you have no components in **BOTH** Mobile and Desktop page builders:
<img width="1361" alt="image" src="https://user-

[2022-08-02 23:09] mskapusuz commented on #3557
@vytisbulkevicius I've tried to replicate the issue (installed Neve latest on tastewp without Neve Pro, then clear all components from header builder) but I couldn't replicate it. Am I missing smth?

mobile:
![Screen Shot 2022-08-03 at 02 04 54](https://user-images.githubusercontent.com/25361626/182490126-3dcad1df-c4f6-4cc8-b91e-c38198614baf.png)

desktop:
![Screen Shot 2022-08-03 at 02 04 47](htt

[2022-08-03 07:37] cristian-ungureanu commented on #3557
I was able to replicate this just with neve free installed. I'll take a look and see how to fix it.

[2022-08-03 08:03] cristian-ungureanu commented on #3557
@mskapusuz from your screenshots I think you cleared elements just from the footer

[2022-08-03 08:08] cristian-ungureanu opened #3560 "Starter content header button issue"
### Description:
The starter content header button is yellow in customizer and black on frontend

### How to reproduce:
1. Install Neve free on a clean instance
2. Enter the customizer and hit publish to apply the starter content
3. Exit the customizer and see the button in header

### Expected behaviour:
Yellow button as in customizer

### Current behaviour:
Black button

### Reference:
Customize

[2022-08-03 08:10] vytisbulkevicius commented on #3557
@mskapusuz @cristian-ungureanu,

The problem doesn't occur for @mskapusuz because he also cleared the mobile menu content: https://vertis.d.pr/rCKG26
I haven't encountered it during my test but looks like error doesn't happen if you clear it also but it happens if you leave at least one item in it while main 3 rows are empty for both Desktop and Mobile.

[2022-08-03 08:37] girishpanchal30 opened #3561 "Fatal error when check neve core class exists"
### Description:
Getting fatal error when checking non-existing class.

`class_exists( '\Neve\Core\Core_Loader' )` - No Error

`class_exists( '\Neve\Core\Core_Loader_1234' )` - Getting fetal error.

### Reference:
https://tinyurl.com/23embclb

### Technical info
* WordPress version: 6.0.1
* Theme version: 3.3.4

[2022-08-03 09:18] mskapusuz commented on #3557
@vytisbulkevicius yes, you are right. If I put an element for the area that you've marked (mobile menu content), the error occurs on tastewp env.

@cristian-ungureanu Actually for this environment, I have not touched the footer, I have just cleared all elements in mobile/desktop header builder. The issue was related to I've removed the mobile menu content also.

Thanks @cristian-ungureanu @vytisbu

[2022-08-03 09:48] cristian-ungureanu commented on #3561
@girishpanchal30, not sure if this is required. The `class_exists` function has a second parameter named `autoload`.
`class_exists( '\Neve\Core\Core_Loader_1234', false )` will not produce any error.

@abaicus what do you think?

[2022-08-03 10:08] girishpanchal30 commented on #3561
@cristian-ungureanu I agree with you, but it Happens when someone missed the second parameter.
Thanks

[2022-08-03 10:27] abaicus commented on #3561
IIRC, this is a conscious decision taken for performance reasons [back in 2019](https://github.com/Codeinwp/neve/commit/6567e40d24f6219b08323f8f33cdcc967ebad4eb#diff-60cdbae0d3af76dec059cde0e7e4d02b33438842095471bc7abc838a74dfe4eaL148-L154). This could be fixed by adding an `is_file` check in the autoloader. It might bring PHP performance a bit down, though.

[2022-08-03 10:44] #3546 closed

[2022-08-03 10:44] #3551 closed

[2022-08-03 10:45] #3557 closed

[2022-08-03 10:45] #3560 closed

[2022-08-03 10:45] #3549 closed

[2022-08-03 10:45] #3542 closed

[2022-08-04 09:01] selul commented on #3561
@girishpanchal30 not sure when this is coming up?

[2022-08-04 09:01] selul commented on #3561
I mean if the class does not exits isn't right to throw an error?

[2022-08-04 09:05] girishpanchal30 commented on #3561
@selul The error comes up when I check class_exists(`class_exists( '\Neve\Core\Core_Loader_1234' )`) in any third-party theme OR plugin.

[2022-08-04 09:09] selul commented on #3561
@girishpanchal30 yes, but I don't consider this an issue since the class does not exist.

[2022-08-04 09:13] girishpanchal30 commented on #3561
@selul Okay, Thank you for the checking, I'm going to close this issue.
Thanks

[2022-08-04 09:16] #3561 closed

[2022-08-04 16:41] mghenciu commented on #3523
**All the issues are fixed now, on the mentioned Starter Sites.**

With the exception of the Woo related issues where the image is different on import. I am not sure we can export/import that.
It's not a big issue, just after import the images are squares.
And on the Architecture demo, on import the widgets worked for me.

I think we can close this one, and retest in the next month.

[2022-08-05 19:49] poonam279 opened #3565 "No option to remove border radius from button component"
### Description:

If we add border-radius 0px for the button component, it works in the customizer, but the button has 3px border-radius on the frontend.

### How to reproduce:

1. Add a button component in the header
2. change  border-radius to **0px**
3. Compare the button in the customizer view and frontend view

### Expected behaviour:
There should be no border-radius
### Current behaviour:
Th

[2022-08-10 07:09] harshitarora-in opened #3566 "Automatic Scrolling problem on Neve pricing page"
### Description:

Pricing page: When scrolling on the Neve pricing page on a mobile device, the user cannot see the last testimonial of Ville Ekman because the website instantly scrolls to the bottom and skips the testimonial. I've included a sample screen recording for more clarity.  The desktop version also displays the same immediate automatic scroll.

### Reference:

Screen recording: https://

[2022-08-10 07:13] #3566 closed

[2022-08-10 17:22] mileamadalin opened #3567 "WooCommerce "Quick View" feature not working with Neve+Sparks"
### Description:
After activating Sparks on Neve, the WooCommerce "Quick View" feature (from the "Quick View WooCommerce plugin") is not working anymore.
However, if I change the theme to "Twenty Twenty - Two" the issue is not present anymore, so the conflict seems to be between Sparks and Neve.
### How to reproduce:
1. Install Neve + Sparks + Quick View WooCommerce
2. Go to the Shop page
3. Press

[2022-08-10 22:49] mskapusuz opened #3568 "Suggestion: Increase min WP version as v5.5"
### Description:

Neve codebase has some `createInterpolateElement`calls from `wp.element` package. As I see `createInterpolateElement` is supported since WP v5.5 but the minimum WP version of Neve is 5.4.

I think we should increase the minimum WP version as 5.5

---
Usages: https://github.com/Codeinwp/neve/search?q=createInterpolateElement
Ref: https://make.wordpress.org/core/2020/07/17/introduc

[2022-08-10 22:53] mskapusuz commented on #3568
Last update: I've missed the check about whether `createInterpolateElementcalls` is available or not. We have a check before the `createInterpolateElementcalls` calls.

[2022-08-10 22:54] #3568 closed

[2022-08-11 08:44] mileamadalin commented on #3567
I tested again this morning, and the customer hardcoded something on the theme, and in his situation, the problem occurred because of that.

Even if the issue is still here, it probably makes sense since the conflict appears with another plugin that does what sparks does. The conflict on Neve arises when Sparks and Quick View WooCommerce https://wordpress.org/plugins/quick-view-woocommerce/  are b

[2022-08-12 10:04] mghenciu opened #3569 "Add 2-3 options of Hover States for Blog cards and for Product Archives"
### Description:

At the moment when hovering on a Post Card image or Product image, there's a slight hover effect.
Maybe we can add 2-3 variations for this, from which users can choose from.

I would suggest to add this, **only if it doesn't require a lot of dev work**, as it's more of a nice to have feature.
A few examples:
Blog: https://demo.creativethemes.com/blocksy/web-agency/blog/
Shop: htt

[2022-08-13 22:29] mskapusuz opened #3570 "Visual regression on add to cart button of the single product page"
### Description:

With v3.3.5, the add to cart button looks different in the single product page.

I've tested the issue with Neve v3.3.4, and there is no issue on there thus I've verified the regression came with the v3.3.5

### How to reproduce:

1.Create fresh env on tastewp
2.Activate only WooCommerce and Neve lite
3.Visit single product page.

### Expected behaviour:
![Screen Shot 2022-08-14

[2022-08-14 00:06] mskapusuz commented on #3570
I see, that's valid also some other buttons in cart and checkout

[2022-08-14 12:06] mskapusuz opened #3571 "Add new plugins to Plugins tab of the Neve Dashboard"
### Description:

We can add our other plugins to the **Plugins page of the Neve Dashboard**

The plugins we can add:
- Sparks for WooCommerce
- PPOM - WooCommerce Product Addons
- WP Maintenance Mode _(may be)_

What do you think @cristian-ungureanu, if you're ok, I can ask for help from the design team for banners.

![Screen Shot 2022-08-14 at 15 04 51](https://user-images.githubusercontent.com/

[2022-08-15 08:52] cristian-ungureanu commented on #3567
@mileamadalin did it worked before Sparks?

[2022-08-15 08:57] cristian-ungureanu commented on #3569
It's a good idea. We can have the same effects on the blog as we have on the shop but this will be in Neve Pro, not free.

[2022-08-16 07:52] #3523 closed

[2022-08-16 09:32] stefan-cotitosu opened #3573 "Layout conflict with PPOM on product page on the quantity field and add to cart"
### Description:

When the PPOM plugin is active, if you add its field to the product page, the layout of the quantity field and add to cart button changes.

### How to reproduce:

1. Make sure to have Neve and the free version of PPOM installed.
2. Navigate to PPOM settings to attach some fields to a product.
![Markup on 2022-08-16 at 12:29:50](https://user-images.githubusercontent.com/26867648/1

[2022-08-16 09:36] cristian-ungureanu commented on #3570
Hey @preda-bogdan, this is a regression from https://github.com/Codeinwp/neve/pull/3563. Please have a look 🙏

[2022-08-16 12:07] cristian-ungureanu commented on #3516
Maybe try to use https://wordpress.github.io/gutenberg/?path=/docs/components-experimental-unitcontrol--default

[2022-08-17 13:51] mileamadalin commented on #3567
@cristian-ungureanu yes, I have created a new testing webiste and is working with Neve before Sparks.

Here is a short video https://www.loom.com/share/c30e50b136484673b76bc2211b1ed9d3

[2022-08-17 16:08] stefan-cotitosu opened #3577 "Quotes have a different design compared to other themes"
### Description:

The quotes in Neve have a different design compared to other themes. For example, Twenty Twenty-Two and Hello Elementor display both opening and closing quotes as oblique lines, while Neve displays them as 66 and 99.

I'm not sure if this is an issue or the expected behavior but thought to ask.

### Expected behaviour:

![Markup on 2022-08-17 at 19:08:09](https://user-images.gith

[2022-08-18 15:26] #3565 closed

[2022-08-19 12:59] mskapusuz commented on #3567
**Last update**

I've started to investigate the issue; as I see that happens in other themes (eg: twenty twenty), not only Neve.

Why there is no any issue on @mileamadalin's tests (twenty twenty + sparks + neve pro): because, Neve Pro is not deactivated in Madalin's env. And that causes Sparks is not initialized.

If you have activate another theme except from Neve also keep Neve Pro plugin addo

[2022-08-22 08:20] cristian-ungureanu commented on #3577
The quotes' style is dictated by the font family. In Twenty Twenty-Two, the font family is `-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif` so you'll probably see different quote styles on different OS'. There's nothing to do here.

[2022-08-22 08:20] #3577 closed

[2022-08-22 09:06] JohnPixle opened #3580 "Remove Orphan dividers in Customiser > Typography"
Hey everyone, in Neve _Customiser > Typography_ we have two dividers at the top of the panel (left image). Looks like these dividers are used in parallel with description text (right image).

- [ ] We should either **remove the dividers** in Typography panel **OR** **include some description text** to put the dividers in a relevant context.

![dividers](https://user-images.githubusercontent.com/41

[2022-08-22 09:56] JohnPixle opened #3581 "Suggestion: Options for text link styling"
There have been some earlier discussions about including options for link styles in Neve, so here is a suggestion that we can evaluate and approach at some point.

### Context:

Currently all links are by default underlined, and are assigned the `primary accent` color on normal state, and the `secondary accent` on hover.  Turns out we need a more flexible mechanism to assign colors, and on top of

[2022-08-22 14:47] MarinescuLucia opened #3582 "Submenu arrow doesn't have aria-label defined"
### Description:

The submenu arrow doesn't have the aria-label defined, so screen readers don't detect or mention that button and submenu items are read like regular menu items.

### Expected behaviour:
The submenu arrow button is read by screen readers.

### Current behaviour:
The submenu arrow button is not read by screen readers.

### Reference:

![Capture10](https://user-images.githubusercont

[2022-08-22 15:11] cristian-ungureanu opened #3583 "Primary menu issue"
### Description:
When the "Expand the first level of dropdowns when the menu is in mobile menu content." option is set to "ON", the toggle does nothing but it still appears.
Another issue is that in customizer if you have the toggle to "ON", switch it to "OFF" then again to "ON", the sub-menus won't reappear.

### Expected behavior:
- Not exactly sure about this one, there are multiple options:
1.

[2022-08-24 12:48] MarinescuLucia commented on #3582
+1 https://secure.helpscout.net/conversation/1988451761/334308/

[2022-08-24 14:08] AndreeaCristinaRadacina opened #3584 "Logo not showing in translations in Polylang"
### Description:
I was trying to translate the logo of Neve, using Polylang. If I type "logo", the logo will not appear, unless I first go in the Customizer > Header.
### How to reproduce:
1. Configure Polylang ( including translate media checkbox from the wizard ).
2. Go to Language > Strings Translation
3. Type "logo"

### Expected behaviour:
The logo will appear if I go to the Customizer first.

[2022-08-25 05:47] cristian-ungureanu commented on #3584
The logo is only translatable in Pro

[2022-08-25 05:49] #3584 closed

[2022-08-25 07:20] cristian-ungureanu commented on #3584
Sorry @AndreeaCristinaRadacina to rush you, saw the title and the repo and I didn't read the rest.
That's the normal behavior, the String translation page populates only if you have a value in the setting you want to translate and also if that value is not the default one. And I think the trigger for WPML and Polylang to populate that page happens once you enter in the customizer.

[2022-08-26 06:21] cristian-ungureanu commented on #3582
@preda-bogdan if you have some time, maybe you can have a look at this. We can add it to the release from the next week.

[2022-08-26 06:23] cristian-ungureanu commented on #3581
Thank you @JohnPixle, this sounds great! I think the task is pretty clear and we can tackle it after Neve 3.4.

[2022-08-26 07:52] JohnPixle commented on #3581
Awesome, thanks 🚀
Let me know if you'll need anything at any point.

[2022-08-26 09:32] cristian-ungureanu opened #3586 "Secondary button options applying on search submit button"
### Description:

### How to reproduce:
1. Import the Photography starter site and add the search component in the header

### Expected behavior:
Submit button should not have a border or inherit settings from secondary buttons

### Current behavior:
Submit button inherits settings from secondary buttons

### Reference:
Bug was mentioned here: https://github.com/Codeinwp/neve-pro-addon/pull/2109#i

[2022-08-30 22:54] mskapusuz opened #3591 "Slider of Exclusive Products is initialized even less than 4 product as conditionally"
### Description:

If Sparks Variation Swatches module is activated and "Show attributes in archive products" mode is enabled; exclusive products slider is initialized even there are less than 4 products.

### How to reproduce:

1. Activate Sparks v1.0.5
2. Activate Neve v3.3.6
3. Activate Neve Pro v2.3.5
4. Activate Sparks Variation Swatches module
5. Set the "add to cart button position" as "afte

[2022-08-31 09:51] preda-bogdan opened #3593 "Sidebar items alignment"
### Description:
The alignment in the mobile sidebar isn't working for items that have a dropdown https://vertis.d.pr/9D4B11

Reported here: https://github.com/Codeinwp/neve-pro-addon/pull/2128#issuecomment-1232589324

### How to reproduce:

1. Change alignment inside Customizer for the sidebar
2. Check the alignment

### Expected behavior:
All Items should respect the alignment

### Current behav

[2022-08-31 12:42] #3593 closed

[2022-08-31 14:16] #3580 closed

[2022-08-31 14:16] #3582 closed

[2022-09-01 09:35] mskapusuz opened #3595 "PHP 8.2 Compatibility Tests"
### Description:

We need compatibility tests for PHP 8.2.

PHP 8.2.0 Beta 3 available for testing, PHP 8.2 RC 1 planned for Sept 1, 2022

[2022-09-02 14:15] designzwang commented on #3496
# I would strongly upvote loading fonts locally. #

Are you aware that people in Germany and Austria currently could get into legal trouble when using Google Fonts? ( Yes, this is stupid, and YES, it  is an abuse of the data protection laws - but in real life this is happening right now where hundreds of site owners might find themselves in a position to pay a couple of hundred Euros :-(   )
I am

[2022-09-02 14:43] designzwang commented on #3496
30 minutes later : after going into the customizer and editing all thre sub-sections of typography  ( switching to system fonts instead of google fonts) the calls to fonts.googleapi.com are gone.  Would you confirm that this actually stops enqueueing / loading the fonts,  just to be safe? Thank you.   So then it is quite easy to get rid of the fonts in Neve - I am surprised that this has not been

[2022-09-05 18:40] ineagu opened #3599 "Field is out of place on Checkout"
### Description:

I am using Neve with WooCommerce & Stripe and one of the fields looks weird due to some CSS to the fieldset type : https://vertis.d.pr/zLBcw4

### How to reproduce:

1. Install Neve & Woo & Official Stripe plugin
2. Go to checkout
3.https://vertis.d.pr/zLBcw4

### Expected behaviour:
The field would be aligned by default

### Current behaviour:

https://vertis.d.pr/zLBcw4

### Re

[2022-09-06 01:58] mskapusuz opened #3601 "GH Action NPM Run dashboard check is failing"
### Description:

on `development` branch, NPM GH Action is failing

![Screen Shot 2022-09-06 at 04 51 33](https://user-images.githubusercontent.com/25361626/188530934-a560ae04-9da9-40af-8ab7-452438d2851e.png)

[2022-09-06 08:36] #3601 closed

[2022-09-07 10:43] #3591 closed

[2022-09-07 15:17] TrigodaUG opened #3605 "Update breaks site again"
This is the third time an auto update of the Theme breaks our site. We know decided to use another theme.

[2022-09-07 16:21] cristian-ungureanu commented on #3605
Hey, @TrigodaUG I'm sorry to hear that. There were no reports of breaking sites in the last three updates. If you still use Neve, I would love to have a look at your website and see exactly where the problem comes from. Please write to us at [contact@themeisle.com](mailto:contact@themeisle.com) and mention this ticket. Then, one of my colleagues from support will ping me and I will personally have

[2022-09-07 16:21] #3605 closed

[2022-09-09 07:55] cezarnicolescu opened #3608 "Functions.php file contains reference to deprecated yarn command"
In the `functions.php` file there is the following code:
[code]
However yarn --fronzen-lockfile appears to be deprecated and the new flag should be `--immutable`

[2022-09-12 10:39] selul commented on #3608
hi @cezarnicolescu, yes `--frozen-lockfile` is part of classic yarn which is still supported.

For now, we will keep it like this since we haven't tested the build with Yarn 2.

Thanks a lot for the heads-up.

[2022-09-12 10:39] #3608 closed

[2022-09-12 11:28] mskapusuz opened #3609 "Max/Min values as specific for Spacing/Responsive_Range components"
### Description:

We have max/min values for` \Neve\Customizer\Controls\React\Spacing` or `\Neve\Customizer\Controls\React\Responsive_Range` components.

Generally, our max/min values are defined for PX. But the current values look wide for relative CSS units (rem/em). Therefore we can narrow them down by diving the default values to `16` or another number.

In this way, we can have more sensitive

[2022-09-12 11:32] poonam279 opened #3610 "Layout issue with Elementor Pro's checkout widget"
### Description:

When we use Elementor Pro's checkout widget, the columns look good in the editor but the layout is different on the frontend.

### How to reproduce:

1. Install Elementor and Eelementor Pro plugins.
2. Create a page with Elementor
3. Add Checkout widget of Elementor Pro
4. Save the page and check its preview

### Expected behaviour:
The checkout page has two columns, and they bot

[2022-09-12 14:27] irinelenache commented on #3516
@mskapusuz Tested and here are my findings:

- [ ] In `Blog/Archive > Layout > List spacing`, when i use REM units, the changes are not visible in customizer but in frontend it works fine https://vertis.d.pr/6PMBPs (i see it's happening on every control with REM units)
- [ ] For `Featured post > Post height` the minimum value is 300 for all units https://vertis.d.pr/Ys1BD4 (for PX is fine, but for

[2022-09-12 23:55] mskapusuz commented on #3516
hey @irinelenache

Thank you for your test.

Unfortunately, I couldn't replicate it. I've created a fresh env on Instawp and installed Neve+Neve Pro PRs also WooCommerce. It has worked at the initial. Also, it worked fine for other tries after the first saving. Could you please try again and can you help me about reproducing the issue?

Yes, you're right, nice catch! that is related to an ongoing

[2022-09-13 05:11] selul commented on #3516
From Irinel report he is saying that minimum is not right, not maximum. If the user is forced to use an unsable value, the whole control is unusable, hence the bug is valid and the bug should be adressed.

[2022-09-13 12:18] irinelenache commented on #3516
@mskapusuz Checked again and the mentioned issues are fixed, thank you 🚀

The min value should be updated also for `Layout > Single Post > Post meta > Avatar size`

After this is fixed, we can move this to **Ready to merge** 👍

[2022-09-13 14:52] mskapusuz commented on #3516
Thank you for your findings!

I've fixed the issue you've mentioned.

Apart from that, I've added relative CSS units for Custom Post Types (avatar size of the CPT archive/CPT single customizer)

Ready for the new test round 🚀

[2022-09-14 06:53] irinelenache commented on #3516
@mskapusuz Had another round of testing and everything seems to work fine 🚀

[2022-09-14 09:47] mskapusuz commented on #3516
@irinelenache

After your tests, @cristian-ungureanu and I made some changes and pulled the latest changes from Neve 3.4 branch, these are in the following as roughly:
* Neve Pro: Relative unit support for **Advanced Search Form** controls
* Neve Pro: Relative unit support for **Advanced Search Icon** controls
* Neve Pro: Relative unit support for **Social Icons** controls
* Neve Pro: Relative uni

[2022-09-14 09:49] mskapusuz commented on #3516
@irinelenache

After your tests, @cristian-ungureanu and I made some changes and pulled the latest changes from Neve 3.4 branch, these are in the following as roughly:
* Neve Pro: Relative unit support for **Advanced Search Form** controls
* Neve Pro: Relative unit support for **Advanced Search Icon** controls
* Neve Pro: Relative unit support for **Social Icons** controls
* Neve Pro: Relative uni

[2022-09-14 10:24] irinelenache commented on #3516
@mskapusuz Checked now and the mentioned points work as expected 👍

[2022-09-19 07:01] #3516 closed

[2022-09-19 07:04] #3583 closed

[2022-09-19 07:06] #3459 closed

[2022-09-19 13:54] mskapusuz opened #3614 "Customizer Browser Console Error on Neve v3.4 + Neve Pro (lower than v2.4.0)"
### Description:

Some browser console errors are occurs in customizer if Neve stable (v3.4) + Neve Pro (previous versions, such as v2.3.6)

### How to reproduce:

1.Install&Activate Neve v3.4, Neve Pro v2.3.6
2.Visit customizer and check browser logs

### Expected behaviour:
There should not any browser console error.

### Current behaviour:
There are some errors in browser console.

### Referenc

[2022-09-19 16:17] cristian-ungureanu opened #3616 "Undefine variable"
NOTICE: UNDEFINED VARIABLE: ADDITIONAL_MENU_CLASS IN /HOME/U213785429/DOMAINS/STEFANCOTI.COM/PUBLIC_HTML/NEVE/WP-CONTENT/THEMES/NEVE/HEADER-FOOTER-GRID/TEMPLATES/COMPONENTS/COMPONENT-NAV.PHP ON LINE 17

[2022-09-20 10:02] #3614 closed

[2022-09-20 10:43] beccabadger opened #3619 "Latest update broke mega menu"
All menu dropdowns are open when loading my website. I set it up using [this guide](https://docs.themeisle.com/article/964-neve-mega-menu-setup). It worked before the latest update.

![image](https://user-images.githubusercontent.com/113986194/191237636-1eba280b-a717-4859-9c4b-0b7ec4565f51.png)

ETA: I rolled back to 3.4.0 where the issue remained, however going back to 3.3.7 fixed the issue.

* W

[2022-09-20 11:37] cristian-ungureanu commented on #3619
Thank you @beccabadger for reporting this. Will try to fix it ASAP.

[2022-09-20 11:58] cristian-ungureanu commented on #3619
Found the issue and here are some ways to fix it until we make a release to fix that:
1. It appears you are using the previous skin that is not supported anymore. You should switch to the new Neve skin. If you choose to use the current skin, there will be some incompatibilities and features that will not be available. Here's how to switch to the new skin: https://docs.themeisle.com/article/1388-ne

[2022-09-20 12:06] beccabadger commented on #3619
Thank you for your quick help @cristian-ungureanu I'll look into switching to the new skin.

[2022-09-20 13:00] irinelenache commented on #3595
PHP 8.2 will be released on **November 24, 2022** so we'll postpone the testing until it will be added to TasteWP / InstaWP / Local by Flywheel

[2022-09-20 15:11] #3616 closed

[2022-09-21 15:21] cristian-ungureanu opened #3621 "Breadcrumbs and result count on mobile"
Currently breadcrumb & number of items design improvement get intertwined when the menu is anywhere in a subcategory. potentially making these shown in different lines can help improve the design
https://neve.nolt.io/180#1

Issue reported on Nolt.

[2022-09-22 05:14] poonam279 commented on #3610
@cristian-ungureanu The user is asking about the update on this issue. Is there any fix that we can provide him temporarily?

[2022-09-22 10:08] cristian-ungureanu opened #3623 "Starter content hero image has changed"
### Description:
Check https://wp-themes.com/neve/

### How to reproduce:
1. On a fresh Neve instance install the Gutenberg plugin
2. Open the customizer and check the hero image on a large screen

### Expected behavior:
The hero image would be full width

### Current behavior:
The hero image is centered with a background underneath it.

### Reference:
https://wp-themes.com/neve/

### Technical in

[2022-09-23 08:07] poonam279 commented on #3619
We have found a similar case where the mega menu gets opened while moving the mouse on the header image beneath the menu item. Disabling the option of expanding the first level of the dropdown fixed the issue.

HS: https://secure.helpscout.net/conversation/2016020354/337794/

[2022-09-23 15:37] stefan-cotitosu opened #3627 "Customizer search breaks navigation through controls after clicking in the page content on quick link pencil"
### Description:

When using the Customizer search, after typing some keyword such as "header", if you click on a pencil icon in the page content to edit the primary menu, for example, the Customizer search disappears, making navigation through the Customizer controls difficult.

### How to reproduce:

1. Please check [the video](https://vertis.d.pr/jtjZrV).

### Technical info
* WordPress version

[2022-09-27 15:12] CassianKa commented on #3496
I got the same issue on a website. I am not allowed to use google fonts. I changed the typography in customizer to arial. But in browser dev tools the googleapi is shown.

[2022-09-27 16:58] Skystream96 opened #3635 "Theme Overrides Gravity Forms styles and prevents the DropDown Arrow from showing"
### Description:
If you have multiple dropdown inputs in your Gravity Forms Form, then Neve will prevent the specific arrow that indicates it's a dropdown from showing, and it gets lost in the background. At first, I thought we could modify this behavior from the Form Fields settings within the Customizer but tried that with no luck and I think the bad behavior comes from there. Issue [#2033](http

[2022-09-28 06:25] #3619 closed

[2022-09-28 06:26] #3627 closed

[2022-09-28 06:26] #3623 closed

[2022-09-28 10:22] abaicus opened #3638 "[DevEx][Perf] Leverage PostCSS to implement shorthand media queries and ensure they are merged"
### Description:
We can leverage `postcss-custom-media` and `postcss-combine-media-query` to improve the development experience with SCSS.

Right now, we're using a [`_media-queries.scss`](https://github.com/Codeinwp/neve/blob/master/assets/scss/components/main/_media-queries.scss) file with mixins to gather all media queries. This would help us inline everything in SCSS and also ensure that if th

[2022-09-28 12:21] cristian-ungureanu commented on #3496
After discussing this on Slack, we will further proceed by bringing this functionality from Neve Pro into Neve free.

@designzwang I'm sorry for the late reply, I totally missed the notification. That's correct, the system fonts are the fonts already installed on your computer. The advantage of them is that you don't need to wait for a response from a server. The disadvantage is that they don't lo

[2022-09-30 13:05] irinelenache opened #3640 "[WP 6.1] Visual issues in editor"
### Description:

- With wordpress 6.1 there is a new option to[ show button text labels instead of icons](https://vertis.d.pr/KRFuvy). With this setting activated, the Neve options button won't be visible anymore https://vertis.d.pr/SL6c07
- The sidebar layout options look different now https://vertis.d.pr/7R6sIZ
### How to reproduce:

1. Update the wordpress version to 6.1 beta 2
2. Create a new

[2022-10-03 11:04] stefan-cotitosu opened #3641 "GDPR issues"
### Description:

A user said the theme is not GDPR compliant after checking a website built with it on https://www.violating-gdpr.com/. I also checked https://demosites.io/web-agency-gb/ on [this website](https://www.violating-gdpr.com/) and it seems that the theme uses gmpg.org.

![Markup on 2022-10-03 at 14:03:12](https://user-images.githubusercontent.com/26867648/193562127-fe524d7e-294c-43bd-b

[2022-10-03 11:04] cristian-ungureanu commented on #3610
Sorry, @poonam279 for the late reply. I was a bit stuck with other issues. At a first look, I can't find any quick fix. I'm working on it and I will let you know if I find something.

[2022-10-03 11:10] selul commented on #3641
@stefan-cotitosu the reported issues are not related if the theme is GDPR compliant, the user can host the site and the theme wherever he wants, those reports are only related to our hosting, he won't have those on his website.

The gpmg is a core thing and he will get that with any theme. https://wordpress.stackexchange.com/questions/173117/why-is-there-a-link-tag-with-rel-profile-pointing-to-gmp

[2022-10-03 11:10] #3641 closed

[2022-10-03 14:16] cristian-ungureanu commented on #3610
Hey @mskapusuz, I'm not sure about this one, I've tried to prevent Neve's style from applying on the checkout page. Please have a look at this issue and at the proposed solution and let me know what you think.

[2022-10-03 15:47] cristian-ungureanu commented on #3599
I managed to replicate this issue and here is what I've found:
The checkbox there is actually inside a `fieldset`. By default, a `fieldset` would look like [this](https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_fieldset). It has a border around all the controls inside it.
In our case, we set the border color as `--nv-light-bg` and it would [look good on a page](https://vertis.d.pr/V15WdD

[2022-10-04 10:49] cristian-ungureanu commented on #3599
@Codeinwp/design-team, maybe you can have a look also 🙏

[2022-10-04 12:15] abaicus commented on #3599
@cristian-ungureanu The issue seems to stem from the padding. I don't think that `fieldset` should be relevant to the design here. I think we can probably target stripe with some inline style to fix it.

It also might be worth checking out other checkout extensions and payment methods to see if there's something more general we can do to ensure maximum compatibility without breaking anything.

[2022-10-05 08:30] JohnPixle commented on #3599
@cristian-ungureanu we can either do that or set the border color to `--nv-text-color` perhaps at 50% opacity. This will ensure some greater contrast and will probably be safer for most cases.

Keep me in the loop ✌🏻

[2022-10-05 08:55] abaicus commented on #3599
@JohnPixle Unfortunately, we can't set border opacity in CSS.

Some fieldsets have the border/padding/margins removed by Woocommerce by default because of classes:
![image](https://user-images.githubusercontent.com/15010186/194019102-b7bdcb08-f587-490b-887f-fca3468b3dcd.png)

The issue here is related to layout rather than presentation, and it happens because of the nested paddings:
![image](https

[2022-10-05 10:07] JohnPixle commented on #3599
Got it, no problem, and thanks for the clarifications here @abaicus, makes sense ✌🏻

[2022-10-05 15:12] irinelenache opened #3643 "[WP 6.1] Visual issues for customizer controls"
### Description:

Using wordpress 6.1 beta3, some customizer controls have different alignment, especially toggles
### How to reproduce:

1. Use wordpress 6.1 latest beta version
2. Go to customizer and check controls like `Primary menu > Expand first level of dropdowns`, `Logo and Site identity toggles`

### Reference:

https://vertis.d.pr/xLP2Zo
https://vertis.d.pr/URsKHp
https://vertis.d.pr/0jQ

[2022-10-06 14:32] mghenciu opened #3647 "Option to hide page titles on certain pages"
### Description:

As discussed in the meeting, there should be an easy way to manage if the Titles on global pages (archive, category, custom post type, etc), are visible or not.

Here's an example from the Finance Blog, where 2 Headings are visible on the Category page, one coming from the Custom Layout and from the page itself:
![Screenshot 2022-10-06 at 17 28 12](https://user-images.githubuserc

[2022-10-10 10:49] cristian-ungureanu opened #3648 "More icons for the search component"
### Description:
The mechanism is already in place for the submenu icon and the scroll to top, so this should be relatively easy. The search icon needs options. The search form (and advanced search form) should also have options to change icon AND to add text to the button. https://neve.nolt.io/21 This one also asks for a button as an option for the search form.

Requested on Nolt: https://neve.no

[2022-10-10 10:58] cristian-ungureanu opened #3649 "Split title and meta in single post"
### Description:
This is another one that should be relatively easy, as the Post Title and Post Meta elements are together in the Customizer but already separated in the Neve Options for a single post.

Requested on Nolt: https://neve.nolt.io/71

Note: We should proceed with caution. I remember that there was a reason we did this. It also can affect the custom layout options in PRO.

[2022-10-12 12:50] #3599 closed

[2022-10-12 12:50] #3640 closed

[2022-10-12 12:50] #3621 closed, assigned to preda-bogdan

[2022-10-12 12:51] #3635 closed

[2022-10-16 17:48] purplecodes opened #3651 "Customizer text/color settings are overlapping and not displayed properly"
### Description:
Some settings in the Customizer are overlapping.

### How to reproduce:

1. Created a new site on tastewp.com
2. Installed Neve v3.4.3 and Neve Pro v2.4.3 and imported a starter site.
3. When you go to **Customizer** > **Header** > **Global Header Settings**
If you click any of th**e Header Top**, **Header Main**, and **Header Bottom**, you will see the overlapping text issue.
htt

[2022-10-17 07:03] cristian-ungureanu commented on #3651
@purplecodes I can't replicate this problem. It's not visible either on my local environment or a new instance on Tastewp. Can you retest it, please? Maybe try it in incognito mode. If you manage to recreate it, please share with me some login info to see exactly what's wrong with that instance.
Thank you! 🙏

[2022-10-17 07:36] cristian-ungureanu opened #3653 "No way to have text color when using the first option of Hover Skin Mode"
### Description:
There is no way to configure the text color so it looks good on the first option of Hover Skin Mode. This applies to the submenu Hover Skin Mode too.

### How to reproduce:
1. Add a primary menu component in the header
2. Set the first Hover Skin Mode
3. The color of the text when that skin mode is applied is not configurable

### Expected behaviour:
Have a way to apply color to t

[2022-10-17 10:26] irinelenache commented on #3651
@cristian-ungureanu I couldn't replicate the first issue, i tried using **Windows & Chrome** on browserstack and it worked as expected, maybe some extra steps are needed.

Regarding the second issue, for me it's like this https://vertis.d.pr/34ByYd . I think it's happening because of the smaller screen (the palette selector is opening either on top/bottom of the color control and if the control is

[2022-10-17 10:55] purplecodes commented on #3651
@cristian-ungureanu I tried it in incognito mode and the issue is the same.
https://vertis.d.pr/sF7hlu

Here are the credentials:
https://sulkysubstance.s3-tastewp.com/wp-admin
Username: admin
Password: admin

Thanks!

[2022-10-17 11:13] cristian-ungureanu commented on #3651
@purplecodes I've checked that instance too and I can't replicate the issue. Maybe try checking on BrowserStack. My guess is that there's a conflict somehow with a Chrome plugin or something like that.

[2022-10-18 06:55] #3237 closed

[2022-10-18 08:59] purplecodes commented on #3651
@cristian-ungureanu I tested it on BrowserStack as you suggested and I cannot replicate it there.
I do have several extensions installed in my Chrome but the weird thing is I can replicate this on my Firefox which I seldom use.
I think we can close this for now. Thanks for checking too @irinelenache .

[2022-10-18 08:59] #3651 closed

[2022-10-18 10:27] JohnPixle opened #3654 "Typography breaks when switching viewports in Gutenberg Editor"
Hello friends, this has been happening for some time now, and I thought that it was related to Otter. However it turns out that the issue is related to Neve.

When the user is switching to a mobile viewport in the ditor, the typography breaks.

here is the desktop version

![Screenshot 2022-10-18 at 13 09 37](https://user-images.githubusercontent.com/4193672/196404423-aeaf9a0c-fe2b-4614-a804-3ae2d

[2022-10-18 13:59] selul commented on #3654
@HardeepAsrani can you share the findings to help understand the issue?

[2022-10-19 02:43] HardeepAsrani commented on #3654
Andrei and Robert already talked about it on Slack but for record's sake, here it is: https://vertistudio.slack.com/archives/C02JC68P404/p1666092617557659

[2022-10-19 08:40] cristian-ungureanu opened #3655 "Remove 'by Neve theme' from Otter plugin's name"
We should remove this, it made sense in the past when Otter was new but not anymore

[2022-10-20 08:35] MarinescuLucia opened #3659 "Speaker deck block not responsive"
### Description:

The speaker deck block doesn't resize if the browser window size is reduced or if the container is set to a smaller value. This results in the images and the entire block being cropped. The issue doesn't occur with default themes like Twenty Twenty One.

### How to reproduce:

1. Add the Speaker deck block on a page (you can use [this link](https://speakerdeck.com/itsdvdart/inter

[2022-10-20 14:37] vytisbulkevicius commented on #2935
Hey @cristian-ungureanu, @abaicus,

Have this been implemented? I checked our demo sites but I still have the same behavior - clicking TAB goes through each of menu items and subitems while the goal here (to make it meet accessibility requirements) is if there are sub-menu items focus on the arrow and clicking TAB again shouldn't go to sub-items and go to next menu item instead while sub-menu item

[2022-10-21 13:20] MarinescuLucia opened #3660 "Undefined property in nav_walker.php"
### Description:

A user reported that he gets a warning with the latest version.

Warning: Undefined property: stdClass::$component_id in /xxxx/wordpress/wp-content/themes/neve/inc/views/nav_walker.php on line 97

### Reference:

Reported [here](https://wordpress.org/support/topic/undefined-property-stdclasscomponent_id-in-nav_walker-php-on-line-97/).

### Technical info
* WordPress version: 6.0.

[2022-10-24 12:47] #3475 closed

[2022-10-24 21:00] cristian-ungureanu opened #3662 "Deprecation notices in PHP 8.1 on blog"
Deprecated: Calling static trait method Neve\Customizer\Defaults\Layout::get_meta_default_data is deprecated, it should only be called on a class using the trait in/Users/cristianungureanu/laravel/neve/wp-content/themes/neve/inc/views/template_parts.php on line294

Deprecated: str_replace(): Passing null to parameter #3 ($subject) of type array|string is deprecated in/Users/cristianungureanu/larav

[2022-10-25 10:51] irinelenache commented on #3662
@cristian-ungureanu Managed to replicate the issues and they are fixed by the PRs 🚀 Also, didn't find any issue regarding the compatibilities **old lite + new pro / old pro + new lite** 👍

[2022-10-25 17:32] cristian-ungureanu commented on #3496
Hi @designzwang. After further discussions, we agreed not to add an option to enable local font loading in Neve Free. However, this doesn't mean that it's not possible to do this. In order to enable local fonts, you can follow [this guide](https://docs.themeisle.com/article/1349-how-to-load-neve-fonts-locally).

Thank you for using Neve and for reporting this issue.

[2022-10-25 17:32] #3496 closed

[2022-10-26 06:20] Skystream96 opened #3668 "Possible Cipher Vulnerability"
### Description:
A user reported that their scans came back with Cipher Vulnerabilities that might pose a threat to poorly protected websites.

User reported it [here](https://secure.helpscout.net/conversation/2048859016/342173?folderId=212390).

![Screenshot 2022-10-26 at 09 19 03](https://user-images.githubusercontent.com/82535909/197949554-33cae3e1-7000-4f52-a801-72c1a7c7a31c.png)
![Screenshot

[2022-10-26 22:48] designzwang commented on #3496
@cristian-ungureanu  OK , I see how that solution will work.  Since you even provide a plugin (good idea!)  it should be possible for everyone to implement and it will be an easy solution.
However i got confused by the linked documentation stating that  the global font handling is changed even though a neve-specific filter is used.  So I had to check the source code to find out what is being done.

[2022-10-27 10:14] abaicus opened #3671 "Toggle in customizer to enable Google fonts local hosting"
### Description:
We should add a toggle in the customizer to enable local hosting of Google fonts.

[2022-10-28 09:42] ineagu commented on #3287
@selul can we do this? it should be pretty simple that when a user clicks here: https://vertis.d.pr/i/h1uDJu, they are directly sent here: https://vertis.d.pr/i/VUYCbY, and the templates plugin is installed automatically in the process.

[2022-10-28 09:52] ineagu opened #3672 "add a subscribe option after site import"
### Description:
once a starter site is imported, we can show an email form: https://vertis.d.pr/i/qf11Hv & the main CTA can be to subscribe & view site.
### Alternatives:

cc @selul

___
### [Figma](https://www.figma.com/file/QklXyJh0XHVzq2h4IpPNaz/Neve-options?node-id=3576%3A21039&t=nWnnG9rPzl5gJdGL-1)

[2022-10-31 13:27] #3478 closed

[2022-11-01 07:22] Skystream96 opened #3676 "Voice Over Accesibility Issue on Iphone (Might be coming from CORE not Neve)"
### Description:
If you are using the Voice Over feature in Neve on an iPhone, you will notice that the focus will go through the mobile menu items but it will escape the menu and jump on the page instead of going back to the "close menu" button when all menu items have been read.

However, after further testing, I noticed this happens with default WP themes too thus it might be related to CORE, n

[2022-11-02 06:49] poonam279 opened #3677 "WooCommerce Template in Neve theme needs to be updated"
### Description:

The latest version of Woocommerce 7.0.1 shows a message in the dashboard - Your theme (Neve) contains outdated copies of some WooCommerce template files.
<img width="1242" alt="Screenshot 2022-11-02 at 12 21 10 PM" src="https://user-images.githubusercontent.com/27731529/199420123-63f64fab-9c6e-4d63-aeac-1b49fb388100.png">

### How to reproduce:

1. Update woocommerce to version 7

[2022-11-02 06:52] cristian-ungureanu commented on #3677
@poonam279 we don't use WooCommerce templates. Please provide more info. Thank you!

[2022-11-02 13:24] irinelenache opened #3679 "Submenu container border width can't be saved"
### Description:

When i try to add some values to the submenu container border width, the **linked values** option isn't working and the width isn't saved after refresh https://vertis.d.pr/v/2XCQns
### How to reproduce:

1. Have a primary menu with nested items
2. In Customizer > Header > Primary Menu > Style > Submenu container, set values for the border style and border width
3. Refresh the cus

[2022-11-02 14:01] cristian-ungureanu commented on #3677
There's no big deal here. That template is only used when Gutenberg is not active. It was already fixed and will be released soon.

[2022-11-02 15:37] kushh23 commented on #3677
+1: https://wordpress.org/support/topic/template-error-woocommerce-search/

[2022-11-03 07:03] cristian-ungureanu opened #3680 "Cypress issue"
### Description:

### How to reproduce:

1.
2.
3.

### Expected behaviour:

### Current behaviour:

### Reference:

### Technical info
* WordPress version: x.x.x
* Theme version: x.x.x

[2022-11-03 07:30] #3662 closed

[2022-11-03 07:35] #3677 closed

[2022-11-03 07:36] #3659 closed

[2022-11-03 07:36] #3660 closed

[2022-11-03 07:38] #3655 closed

[2022-11-03 07:38] #3643 closed

[2022-11-04 15:29] selul commented on #3671
@JohnPixle @mghenciu do you see it as a good idea in the Typography panel?

[2022-11-04 15:30] selul commented on #3672
@mghenciu @JohnPixle could you please help with a small wireframe around this?

[2022-11-04 15:31] selul commented on #3680
@cristian-ungureanu what is this about?

[2022-11-04 15:34] cristian-ungureanu commented on #3680
I was testing some fixes for cypress yesterday. Was trying to remove the parallel flag to see if tests are passing. I'm closing it as it seems the problem was temporary.

[2022-11-04 15:34] #3680 closed

[2022-11-04 15:35] #3485 closed

[2022-11-04 15:49] JohnPixle commented on #3671
@selul I think that this option would fit within the Theme Settings scope, but as I see we don't have a panel for generic settings like we have in Otter.

 In this case yes, it can work inside the Typography panel, at the root typography level. What do you think of the mockup?

![local](https://user-images.githubusercontent.com/4193672/200018470-a5ffd73d-4e62-4ed5-b97f-1579a412ce37.png)

[2022-11-04 15:52] selul commented on #3671
Looks good, not sure if we can differentiate visually the sections/toggle?  the placement is good IMHO.

As text we can use maybe Enable Local Fonts hosting, with some link to a doc mentioning more details about this, since the local hosting is no limited to google only, but yes, is the only one available in the free version.

[2022-11-04 16:06] JohnPixle commented on #3671
Thanks for the input. I made the adjustments. I am not sure about the visual differentiation of the toggle part however. I feel this panel contains a lot of boxes and styles already, and an attempt to differentiate this part may make things worse.

Having it in plain style looks more clean and "differentiated" to me, and is consistent with the approach we have been taking on other panels. However,

[2022-11-04 16:08] selul commented on #3671
@Codeinwp/theme-dev feel free to share your thoughts. For me they look good.

[2022-11-05 10:17] mskapusuz opened #3682 "E2E Tests are failing"
### Feature under test

E2E tests are failing on this repo currently, that should be fixed.

[2022-11-07 09:19] abaicus commented on #3671
I would personally go for the first variant, but both look good 👍🏻

[2022-11-09 16:53] mghenciu commented on #3672
Made some progress on this. Let me know your thoughts:

https://user-images.githubusercontent.com/52494172/200891512-9e8ceb33-dcee-4a83-b13c-118fecb12f29.mov

To save some more space, and acomodate the fact that there will be a Input Field, made this changes:
- I've made the Icons smaller, from 30px to **24px**
- heading, from 22 to 18px
- body fonts smaller, from 15px to 14px
- space between item

[2022-11-09 18:53] poonam279 opened #3689 "Gradient color option looks broken with WP 6.1"
### Description:

The gradient color option looks broken with WP 6.1. It doesn't allow us to change color easily like we used to do in WordPress 6.0
### How to reproduce:

1. Go to Appearance > Customizer > Header > Header main
2. Add row background color
3. Select Gradient option and try to change color

### Expected behaviour:
The Gradient color option should work fine.
### Current behaviour:
Th

[2022-11-09 19:29] MarinescuLucia commented on #3689
Also, the width of the color picker is reduced compared to WP 6.0 and if the type is changed from linear to radial it reduces even more.

Linear
![Capture3](https://user-images.githubusercontent.com/86592341/200923023-97faf369-a7e5-4d2d-9ecb-920bfdd9d61f.JPG)

Radial
![Capture4](https://user-images.githubusercontent.com/86592341/200923056-bf18ad84-94b5-448e-9aaf-b77481ef6bab.JPG)

[2022-11-09 21:47] vytisbulkevicius opened #3690 "Hardcoded path to plugins directory (causes issue in some edge cases)"
### Description:

Client reported that in Neve theme version 3.4.4 we have hardcoded the plugin folder path in file

There is:
`$plugin_data = get_plugin_data( ABSPATH . 'wp-content/plugins/' . $plugin_file );`

This is a problem for the client, because they use Bedrock ( https://roots.io/bedrock/ ) which simplifies the normal folder structure of WordPress and it means that the plugins are not in

[2022-11-10 10:48] selul commented on #3672
Looking good, Mihai! Yes, I think three buttons are a bit too much; maybe we can remove the back to Sites Library and combine the remaining two into: `View Website & Subscribe` and `Skip and View Website.`

@Codeinwp/theme-dev looping you in in case that you have any other ideas.

[2022-11-10 11:52] #3682 closed

[2022-11-10 14:06] abaicus commented on #3672
I agree with @selul. We already have the `✕` in the top right that does the same thing, and clicking outside the modal also closes it.

[2022-11-10 14:52] cristian-ungureanu commented on #3690
According to the [Codex](https://codex.wordpress.org/Determining_Plugin_and_Content_Directories), we should not use this constant directly.

However, I managed to fix the issue in a different way. I've installed Bedrock and tested the fix. Everything seems to be working as expected.

[2022-11-10 17:30] stefan-cotitosu opened #3694 "The Group block doesn't have the layout options in WP 6.1"
### Description:

The Group block has some layout options. Those work with Twenty Twenty-Three but not with Neve.

![Markup on 2022-11-10 at 19:30:17](https://user-images.githubusercontent.com/26867648/201165654-f3c68a67-e875-44ed-91d6-96f93e6eb9dd.png)

### How to reproduce:

1. Create/edit a page, and add the Group block.

### Reference:

https://secure.helpscout.net/conversation/2062492046/3438

[2022-11-11 08:51] cristian-ungureanu commented on #3694
It's related to https://github.com/Codeinwp/neve/issues/3485. Those options are missing because we don't have the `theme.json`. @selul I saw you closed the other ticket so should I close this one as well?

[2022-11-11 08:56] selul commented on #3694
yep, we will evaluate this into the hybrid mode feature for next major version

[2022-11-11 08:56] #3694 closed

[2022-11-11 12:19] ineagu commented on #3672
I like the idea. More than that maybe we can have something where the user won't see other notices that we might add for subscribe if he already did so. E.g if we want to add a small popup in customizer or after an update.

[2022-11-14 08:42] irinelenache commented on #3653
@cristian-ungureanu Tested the changes and here is what i found:

- [ ] In the submenu item settings, there are 2 options (**item text hover** and **item hover text color**) that should do the same thing https://vertis.d.pr/i/Tym4BD
- [ ] When i hover over the submenu item, there are 2 hover colors applied and if the **Item Text Hover** setting is empty, the color will be inherited from the primar

[2022-11-14 15:38] cristian-ungureanu commented on #3653
- Changed the text label so it explains better what the color does
- About the second one, here's an explanation for the colors and why are two hover colors:
https://user-images.githubusercontent.com/9929553/201701169-c0d644d4-57bf-4606-b694-3a13a80870d3.mp4

Let me know if you have more questions.

[2022-11-15 08:34] irinelenache commented on #3653
@cristian-ungureanu Thanks for explaining, i checked again and everything seems to work fine 🚀

[2022-11-15 21:27] ineagu opened #3702 "add patterns"
### Description:

I remember we discussed this in the past, but I noticed no patterns or styles on our w.org listing: https://wordpress.org/themes/neve/.

This should be helpful and not a ton of work since we can re-use what we have for the default demo.

### Alternatives:

Do nothing.

[2022-11-16 08:08] abaicus commented on #3287
@ineagu, both themes you mentioned let the user know that the plugin will be installed. We should do the same by either changing the button text or changing the text in the notice.

![image](https://user-images.githubusercontent.com/15010186/202122631-e02741e0-6ac6-406c-b083-7fab45e61b66.png)
![image](https://user-images.githubusercontent.com/15010186/202122809-29df17fd-b371-459d-8f76-48c7fec3796e

[2022-11-16 08:11] ineagu commented on #3287
is a good observation andrei, we can  add a line in the description like
"Install the template patterns plugin to get started"

On Wed, Nov 16, 2022 at 9:08 AM Andrei Băicuș ***@***.***>
wrote:

--
Ionut Neagu
https://themeisle.com <http://themeisle.com> | https://finmasters.com |
http://ionutn.com

[2022-11-17 08:13] #3689 closed

[2022-11-17 08:13] #3654 closed

[2022-11-17 08:13] #3676 closed

[2022-11-17 08:14] #3690 closed

[2022-11-17 08:14] #3679 closed

[2022-11-18 10:27] JohnPixle commented on #3702
I do not disagree about enriching the patterns, but as far as I am aware Neve already includes some patterns by default. These were built ages ago though.

Maybe it's a matter of setting / defining them in the wp .org listing?

![Screenshot 2022-11-18 at 12 12 54 PM](https://user-images.githubusercontent.com/4193672/202677826-692c27bd-a71a-4c4f-80d8-2b319b97cba1.png)

[2022-11-18 12:44] ineagu commented on #3702
@abaicus do you have any ideas on this? Do we still have the old patterns? if yes any idea why there are not on w.org?

[2022-11-18 13:19] mskapusuz commented on #3671
Hey @abaicus can you confirm for me about we already have a backend mechanism for that?

As I see; we already have a backend mechanism to load Google fonts as local and it currently can be activated by [WP filter](https://github.com/Codeinwp/neve/blob/4cd1b76470e9592b92290020480a986e1a2f9a4a/inc/views/font_manager.php#L270)

the toggle will be an alternative to the WP filter, right?

[2022-11-18 14:09] vytisbulkevicius opened #3717 "Warning printed in PHP8.0/8.1 from header builder"
### Description:
I can't replicate this issue on my test one even I tried to use same setting as client reported but it happens on his website and he also provided a few other examples using Neve theme:
https://www.artdatahealth.org/
https://invenio.rocks/de/home-deutsch-2/

<img width="1176" alt="image" src="https://user-images.githubusercontent.com/36594177/202723347-6ad9d55d-a88e-4bfb-a717-8ee4

[2022-11-20 17:43] mskapusuz commented on #3671
That's ready, I shorten the label able to make space for the detail link.

![image](https://user-images.githubusercontent.com/25361626/202917300-5faad55f-a782-46ae-ae88-b8f55afe80f7.png)

For the **learn more** button I added the link: https://docs.themeisle.com/article/1349-how-to-load-neve-fonts-locally

- [ ] I should replace that link with bit.ly ones. (bit.ly link should be generated)

[2022-11-21 08:13] sentry-io[bot] opened #3720 "ErrorException: User Notice: The edd_settings_styles hook is <strong>deprecated</strong> since Easy Digital Downl..."
Sentry Issue: [THEMEISLE-25C3](https://sentry.io/organizations/vertistudio/issues/3754384697/?referrer=github_integration)

[code]

[2022-11-21 09:09] abaicus commented on #3702
Yes, the patterns are still registered. Other themes register patterns at the `init` hook, while Neve registered them at the `admin_init`. I will send in a PR to fix this as I believe this is the culprit. 👍🏻

[2022-11-23 17:56] selul opened #3723 "change the nolt link to the gh discusions"
Based on the discussion that we had we can change the link in the theme.

[2022-11-23 18:32] kushh23 opened #3724 "Accessibility error : missing space on the Neve menu HTML"
### Description:
A user on wp.org told that he is getting an Accessibility issue with the Neve Menu navigation on accessibility/section 508 scanners. The lack of space generates the following accessibility error. The error Says - `“No space between attributes.”`

We need to update the inc/views/nav_walker.php file (line 136) and insert a space after the role=”none” parameter.

Thanks

### Expected

[2022-11-24 10:42] cristian-ungureanu commented on #3720
Hey @selul, I'm not sure about this one. In our code, we check for the EDD version and then use one hook or another. https://github.com/Codeinwp/neve/blob/master/inc/compatibility/easy_digital_downloads.php#L27-L31

Should I remove the check for versions lower than 2.10?

[2022-11-24 10:45] selul commented on #3720
makes sense, I thought that is from neve. we can close it in this case.

[2022-11-24 10:48] #3720 closed

[2022-11-27 10:08] mskapusuz commented on #3717
Thank you, @vytisbulkevicius, for reporting. That's a rare occurrence issue. Probably the sample sites were created on legacy skin, and they've chosen bg image method for the header row bg but didn't choose any bg image for it. With their Neve upgrade and switching the PHPv8.0; the issue became visible.

I could address the reproducing steps:

**Reproduce steps:**
1. Install WP 5.7 (to don’t have

[2022-11-27 10:55] mskapusuz commented on #3717
Last update:

After the fix, I discovered some other new errors (these occurred after switching to the new skin (once the reproducing step 8.)) https://vertis.d.pr/i/dkKH6d. I added them to the PR test instructions and addressed a fix for them too.

[2022-11-27 18:06] mskapusuz opened #3729 "[Edge Case] (Full Canvas) Mobile Menu Overlaps Some HTML Content (Such as Woo Product Tabs)"
### Description:

An issue reported by @stefan-cotitosu https://github.com/Codeinwp/neve-pro-addon/issues/2255 . I've investigated it, and it is totally related to Neve. Therefore I'm creating this issue and closing https://github.com/Codeinwp/neve-pro-addon/issues/2255 to handle the issue here.

Technically, actual problem is: if the mobile menu opening behavior is set as "Full Canvas" and some o

[2022-11-28 12:50] abaicus opened #3731 "Move mobile menu sidebar opening behaviours to inline styles"
The styles for the opening sidebar behavior can be conditionally loaded based on the setting as inline styles:

https://github.com/Codeinwp/neve/blob/master/assets/scss/components/hfg/frontend/layout/_mobile_sidebar.scss#L143-L197

[2022-11-29 11:02] cristian-ungureanu opened #3732 "Remove BF code"

[2022-11-29 15:25] #3732 closed

[2022-11-29 15:25] #3717 closed

[2022-11-29 15:25] #3653 closed

[2022-11-29 15:26] #3724 closed

[2022-11-29 15:26] #3671 closed

[2022-11-29 15:27] #3723 closed

[2022-11-29 15:29] #3672 closed

[2022-11-30 15:35] poonam279 opened #3734 "customizer is not loading if Neve v3.4.6 is used with PHP v8.0.x"
### Description:

The theme customizer is not loading if Neve v3.4.6 is used with PHP v8.0.x. I have checked with 8.0.11, 8.0.25, and 8.0.26. If we rollback the theme to its previous version, it works fine with all PHP versions.

The same issue occurs if we use the latest version of OrbitFox. If a site has Neve and Orbit Fox, then we need to roll back both of them to get the customizer work again.

[2022-11-30 19:17] cristian-ungureanu commented on #3734
I identified the source of the problem, it comes from the latest update of `themeisle-sdk`. However, I can't replicate the problem in a local environment or on TasteWP. I will further investigate it.

[2022-11-30 20:27] cristian-ungureanu commented on #3734
Found the problem. Will provide an update soon.